/**
 * OpenSlides website style
 *
 * :copyright: 2012-2013 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */
body {
    padding-top: 80px;
}
.navbar .nav > li > a {
    color: #cccccc;
    font-size: 14px;
}
.navbar .nav.pull-right > li > a {
    font-size: 11px;
}
.navbar .nav .active a, .navbar .nav .active a:hover {
    background-color: #525252;
}
.navbar .brand {
    padding: 4px 20px !important;
}
.brand img {
    height: 31px;
}
.hero-unit {
    margin-top: -15px;
    padding: 40px 60px;
}
.subhead {
    margin-bottom: 9px;
    padding-bottom: 0;
}
.subhead h1 {
    font-size: 50px;
}
.jumbotron {
    position: relative;
}
.jumbotron h1 {
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}
.jumbotron p {
    font-weight: 300;
    margin-bottom: 18px;
}
.jumbotron.btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}
.btn-large small {
    font-size: 14px;
}

/* sub navigation */
.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav.navbar-fixed-top {
    top: 40px;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
/* for sticky footer */
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}
#wrap > .container {
    padding-top: 60px;
}
footer {
    background: none repeat scroll 0 0 #252525;
    border-top: 0 none;
    margin-top: 19px;
    padding: 19px 0;
}
footer h4 {
    color: #999999;
}
footer p {
    color: #999999;
}
footer a {
    color: #FFFFFF;
}
footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
.errorlist li {
    color: #DA3939;
    font-size: 9px;
    font-style: italic;
    height: 13px;
    padding: 0;
}
form .error {
    color: #DA3939;
    font-weight: bold;
}
form p.error {
    margin-top: 0;
}
form .error input, form .error textarea {
    border: 1px solid #DA3939;
}
.price {
    font-size: 21px;
    font-style: italic;
    margin: 10px 0;
    white-space: nowrap;
}
.discount {
    color: #CC0000;
}

.orderbutton {
    white-space: nowrap;
}
.packagetable th {
    vertical-align: top !important;
}
.packagetable td, .packagetable th {
    text-align: center;
}
.packagetable td.leftcolumn {
    text-align: left;
}
.packagetable .topline td {
    border-top: 1px solid #5E5E5E;
}
.box small, .packagetable small {
    color: #999999;
    display: block;
    line-height: 18px;
    font-size: 11px;
}
.box .header {
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}    
.box ul {
    padding-left: 21px;
    text-align: left;
}
.box ul li {
    list-style-image: url("/static/img/icons/ok.png");
}



.references .thumbnail {
    float: left;
    margin-right: 20px;
}

input, textarea {
    width: 380px;
}
.os-icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: 0.8;
}
.logo-right {
    float: right;
    margin: 0 0 10px 10px;
    text-align: right;
    font-size: 12px;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 1px;
}
h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.license {
    margin-top: 70px;
    font-size: 11px;
}
.page-header .pager:before, .page-header .pager:after {
    display: inline !important;
}
