{% load i18n %}

<div class="well box">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_399_e-mail.png">
    {% trans 'Mailinglisten' %}</h2>
    <p>{% blocktrans %}OpenSlides bietet öffentliche Mailinglisten zur Koordination der Entwicklung
    sowie Diskussion von Tickets, Anwenderfragen und speziellen Anwendungsfällen. 
    Bei Problemen und Fragen zu OpenSlides schreiben Sie an die 
    OpenSlides-users-Mailingliste in Ihrer Sprache:{% endblocktrans %} 

    <p>
    <strong>announcement@openslides.org</strong>
    <small>{% trans 'Offizielle Ankündigungen' %}</small>
    <a class="btn btn-primary btn-small" href="http://mail.openslides.org/listinfo/announcement/ ">{% trans 'Abonnieren' %} &raquo;</a>
    <a class="btn btn-small" href="http://mail.openslides.org/pipermail/announcement/ ">{% trans 'Archiv' %} &raquo;</a>
    </p>

    <p>
    <strong>users-de@openslides.org</strong>
    <small>{% trans 'Für Anwender und Entwickler (nur deutschsprachig)' %}*</small>
    <a class="btn btn-primary btn-small" href="http://mail.openslides.org/listinfo/users-de/ ">{% trans 'Abonnieren' %} &raquo;</a>
    <a class="btn btn-small" href="http://mail.openslides.org/pipermail/users-de/ ">{% trans 'Archiv' %} &raquo;</a>
    </p>

    <p>
    <strong>users-en@openslides.org</strong>
    <small>{% trans 'Für Anwender und Entwickler (nur englischsprachig)' %}*</small>
    <a class="btn btn-primary btn-small" href="http://mail.openslides.org/listinfo/users-en/">{% trans 'Abonnieren' %} &raquo;</a>
    <a class="btn btn-small" href="http://mail.openslides.org/pipermail/users-en/">{% trans 'Archiv' %} &raquo;</a>
    </p>

    <small>* {% trans 'Hinweis: Bitte abonnieren Sie eine Mailingliste bevor Sie an diese schreiben!' %}</small>
</div>
