{% load i18n %}

<div class="well">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_245_chat.png">
    IRC</h2>
    <p>{% blocktrans %}Für den direkten Kontakt zwischen interessierten OpenSlides-Anwendern 
    und -Entwicklern nutzen Sie IRC (ein textbasierter Chat):{% endblocktrans %}</p>

    {% trans 'Netzwerk' %}: <code>freenode</code><br>
    {% trans 'Kanal' %}:
    <p><code>#openslides</code> (English) <a class="btn btn-mini"
        href="http://webchat.freenode.net?channels=openslides&uio=d4s">Web-Chat &raquo;</a>
    </p>
    <p><code>#openslides.de</code>(Deutsch) <a class="btn btn-mini"
        href="http://webchat.freenode.net?channels=openslides.de&uio=d4s">Web-Chat &raquo;</a>
    </p>
</div>
