{% load i18n %}

<div class="well">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_043_group.png">
    {% trans 'Kernentwickler' %}</h2>
    {% url 'contactform' as contactform_url %}
    <p>{% blocktrans %}Direktkontakt zu den drei Gründern und Kernentwicklern von OpenSlides gibt
    es über das <a href="{{ contactform_url }}">Kontaktformular</a>.{% endblocktrans %}
    </p>

    {% url 'authors' as authors_url %}
    <p>{% blocktrans %}OpenSlides ist eine Freie Software
    Initiative von engagierten, freiwilligen
    <a href="{{ authors_url }}">Autoren</a>.{% endblocktrans %}</p>
</div>
