{% load i18n %}

<div class="well">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_411_twitter.png">
    {% trans 'Twitter' %}</h2>
    <p>{% blocktrans %}Twittern Sie Ihre OpenSlides-Erfahrung und erwähnen Sie <b>#openslides</b>.
    Oder stellen Sie direkte Fragen an das Entwicklerteam (<b>@openslides</b>).{% endblocktrans %}
    </p>
    <p>
    <a class="btn btn-small"
        href="https://twitter.com/openslides">{% trans 'Alle Tweets von @openslides' %} &raquo;</a></p>
    </p>
</div>
