{% load i18n %}

<div class="well">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_245_chat.png">
    IRC</h2>
    <p>{% blocktrans %}Für den direkten Kontakt zwischen interessierten OpenSlides-Anwendern 
    und -Entwicklern nutzen Sie IRC (ein textbasierter Chat):{% endblocktrans %}</p>

    <h3>{% trans 'Netzwerk' %}: freenode<br>
    {% trans 'Kanal' %}: #openslides</h3>
    <a class="btn btn-small"
        href="http://webchat.freenode.net?channels=openslides&uio=d4s">IRC Web-Chat starten &raquo;</a>
</div>
