{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Entwicklung" %}{% endblock %}
{% block headline %}{% trans "Entwicklung" %}{% endblock %}

{% block mainmenu_development %}active{% endblock %}

{% block lead %}{% blocktrans %}OpenSlides ist eine engagierte Freie
Software-Initiative von Freiwilligen. Entsprechend offen und
frei zugänglich ist auch die Entwicklung. Nutze diese Möglichkeit und unterstütze
OpenSlides!{% endblocktrans %}
{% endblock %}


{% block content %}
<p>
{% blocktrans %}OpenSlides ist auf <a href="https://github.com/OpenSlides">GitHub</a>!
Wir pflegen dort Git-Repository, Issuesystem und Wiki.{% endblocktrans %}

{% blocktrans %}Jede Mitarbeit ist dabei sehr willkommen:
z.B. durch Erstellen von Bugreports oder Hilfe bei der Weiterentwicklung, Übersetzungen oder 
Templatedesign. Wir freuen
uns über jede Form der Unterstützung!{% endblocktrans %}
{% url 'contact' as contact_url %}
{% blocktrans %}<a href="{{ contact_url }}">Kontaktiere</a> uns einfach! Wir finden sicher interessante
Aufgaben für Dich.{% endblocktrans %}
</p>
<br>
<div class="row">
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_330_blog.png">
        {% trans 'Wiki' %}</h2>
        <p>{% blocktrans %}Das OpenSlides-Wiki dient als technische Dokumentation von
        Dingen, die (noch) nicht im Handbuch stehen oder einfach
        irgendwo erfasst und nicht vergessen werden sollen.{% endblocktrans %}</p>
        <p>{% blocktrans %}Wir freuen uns über Unterstützung beim Erstellen neuer
        hilfreicher Seiten.{% endblocktrans %}</p>
        <p><a class="btn" href="https://github.com/OpenSlides/OpenSlides/wiki">{% trans 'Wiki' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_040_stats.png">
        {% trans 'Roadmap' %}</h2>
        <p>{% blocktrans %}Wann steht eine neue OpenSlides-Version an? Welche Tickets sind
        für welchen Meilenstein geplant und welche Tickets sind
        bereits erledigt?{% endblocktrans %}</p> 
        <p>{% blocktrans %}Diesen Überblick gibt uns die Roadmap und dient zur Planung
        und Information über neue OpenSlides-Versionen.{% endblocktrans %}</p>
        <p><a class="btn" href="https://github.com/OpenSlides/OpenSlides/issues/milestones">{% trans 'Roadmap' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_235_pen.png">
        {% trans 'Tickets' %}</h2>
        <p>{% blocktrans %}Probleme und Wünsche zu OpenSlides erfassen wir in
        einzelnen Issues in GitHub. Um ein Problem oder Wunsch zu berichten,
        nutze den "New Issue" Button auf GitHub.{% endblocktrans %}</p>
        <p>{% blocktrans %}Alternativ kannst Du Deine Rückmeldung zu OpenSlides auch an die
            <a href="{{ contact_url }}">Mailingliste</a> senden.{% endblocktrans %}</p>
        <p><a class="btn"
            href="https://github.com/OpenSlides/OpenSlides/issues">{% trans 'Alle offene Tickets' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_136_cogwheel.png">
        {% trans 'Quellcode' %}</h2>
        <p>{% blocktrans %}Der aktuelle OpenSlides-Quellcode kann direkt bei GitHub 
        eingesehen werden.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}Hast Du Änderungen vor, forke Dir OpenSlides und sende uns 
        Deine Anpassungen am Code per Pull Request. Bei Rückfragen, wende Dich am besten
        an die  <a href="{{ contact_url }}">Mailingliste</a>. Wir weisen Dich gerne ein.{% endblocktrans %}</p>
        <p><a class="btn" href="https://github.com/OpenSlides/OpenSlides"><nobr>{% trans 'Quellcode durchsuchen' %} &raquo;</nobr></a></p>
    </div>
  </div>
    
{% endblock %}


