{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Spenden" %}{% endblock %}
{% block headline %}{% trans "Spenden" %}{% endblock %}

{% block mainmenu_donate %}active{% endblock %}

{% block lead %}
{% blocktrans %}Sie profitieren vom Einsatz von OpenSlides oder sind einfach von
der OpenSlides-Idee begeistert?  Dann unterstützen Sie OpenSlides mit
Ihrer Spende!{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="row">
<div class="span6">
    
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_070_umbrella.png">
    {% trans 'Helfen Sie!' %}</h2>

    <p>{% blocktrans %}Die Pflege und Weiterentwicklung eines Freien Software Produkts kostet Geld. Mit Ihrer
    Spende helfen Sie uns, diese nötigen Ausgaben zu finanzieren und die OpenSlides-Initiative
    voranzutreiben.{% endblocktrans %}</p>

    <form method="post" action="https://www.paypal.com/de/cgi-bin/webscr">
        <input type="hidden" value="_donations" name="cmd">
        <input type="hidden" value="paypal@intevation.de" name="business">
        <input type="hidden" value="1" name="undefined_quantity">
        <input type="hidden" value="OpenSlides" name="item_name">
        <input type="hidden" value="3000" name="item_number">
        <input type="hidden" value="1" name="no_shipping">
        <input type="hidden" value="{% trans 'Kommentar an das OpenSlides-Entwicklerteam (Lob/Kritik)' %}" name="cn">
        <input type="hidden" value="EUR" name="currency_code">
        <input type="hidden" value="PP-BuyNowBF" name="bn">
        <input type="hidden" value="{% trans 'Veroeffentlichung des Spendernamens zugestimmt?' %}" name="on0">
        <input type="hidden" value="{% trans 'Nein' %}" name="os0">
        <input type="hidden" value="http://openslides.org/static/img/openslides-logo_wide75.png" name="image_url">
        <input type="hidden" value="http://openslides.org/donate/" name="return">
        <input type="hidden" value="{% trans 'Zurück zu OpenSlides' %}" name="cbt">
        <button class="btn btn-large btn-primary" type="submit" class="button">
           <i class="icon-heart icon-white"></i> {% trans 'Jetzt Spenden (über PayPal)' %}</span>
       </button><br>
        <input type="checkbox" checked="checked" value="Ja" name="os0"> {% trans 'Spendernamen veröffentlichen' %}
    </form>

    <p><i>{% trans 'oder' %}</i></p>

    <p><a href="https://flattr.com/submit/auto?user_id=openslides&url=http%3A%2F%2Fopenslides.org" target="_blank"><img src="/static/img/flattr.png" alt="Flattr this" title="Flattr this" border="0"></a></p>

</div>
<div class="span6">
    <div class="well">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_069_gift.png">
        {% trans 'Spender' %}</h2>
        <p>{% blocktrans %}Wir sagen Danke für Ihre Spende und veröffentlichen
        hier Ihren Namen oder Organisation (sofern gewünscht):{% endblocktrans %}</p>
        <ol>
            <li><i>domainFACTORY (250,- &euro;, <a
                    href="http://mail.openslides.org/pipermail/users-de/2013-February/000118.html">2.
                    Platz bei Leserwahl-Aktion</a>)</i></li>
            <li><i>Opennet Initiative e.V. (100,- &euro;)</i></li>
            <li><i>Gerhard Tumma (50,- &euro;)</i></li>
            <li><i>anonym (1,- &euro;)</i></li>
        </ol>
        <br>
        
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_040_stats.png">
        {% trans 'Spendenbarometer' %}</h2>
        <br>
        <p>{% trans 'Bisheriger Spendeneingang' %}:
        <strong class="price">401,- &euro;</strong></p>
    </div>
</div>
</div>

{% endblock %}
