{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Download{% endblock %}
{% block headline %}Download{% endblock %}

{% block lead %}
    {% url 'license' as license_url %}
    {% blocktrans %}OpenSlides ist Freie Software,
    lizensiert unter der <a href="{{ license_url }}">MIT</a>.{% endblocktrans %}
{% endblock %}

{% block mainmenu_download %}active{% endblock %}


{% block content %}
<h2><img class="os-icon" src="/static/img/icons/glyphicons_200_download.png">
{% with version="1.6.1" %}
{% trans 'Aktuelle stabile Version' %}: OpenSlides {{version}}
({% trans 'veröffentlicht am' %} {% trans "8. Dezember 2014" %})</h2>
<div class="row">
    <div class="span6">
    <div class="well">
    <h3>{% trans 'Für Windows' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://files.openslides.org/releases/{{version}}/openslides-{{version}}-portable.zip">
      {% trans 'Download OpenSlides' %}<br>
      <small>v{{version}} | .zip | 17 MB</small></a>
      </p>
      <p>{% blocktrans %}Dies ist eine <strong>portable Version</strong>.
      OpenSlides muss nicht installiert werden. Einfach herunterladen, entpacken und openslides.exe starten!{% endblocktrans %}</p>
      <p>{% blocktrans %}Details in der <a
      href="https://github.com/OpenSlides/OpenSlides/blob/{{version}}/README.rst">README</a> und im
      <a href="https://github.com/OpenSlides/OpenSlides/blob/{{version}}/CHANGELOG">CHANGELOG</a>.{% endblocktrans %}
    </div>
    </div>
    <div class="span6">
    <div class="well">
      <h3>{% trans 'Für Linux/MacOS' %}</h3>
      <p>{% trans 'Download und Installation aus dem Python Package Index (PyPI)' %}:</p>
      <p><code>pip install openslides</code><br><br></p>
      <p>
      {% blocktrans %}Alternativ kann auch das aktuelle 
      <a href="http://files.openslides.org/releases/{{version}}/openslides-{{version}}.tar.gz">tar.gz-Paket</a> von OpenSlides
      heruntergeladen und installiert werden.{% endblocktrans %}
      </p>
      <p>{% blocktrans %}Details in der <a
      href="https://github.com/OpenSlides/OpenSlides/blob/{{version}}/README.rst">README</a> und im
      <a href="https://github.com/OpenSlides/OpenSlides/blob/{{version}}/CHANGELOG">CHANGELOG</a>.{% endblocktrans %}
      </p>
    </div>
    </div>
</div>
<br>
{% endwith %}


<h2><img class="os-icon" src="/static/img/icons/glyphicons_200_download.png">
{% trans 'Plugins' %}</h2>
{% url 'plugins' as plugins_url %}
<p>{% blocktrans %}Erweitern Sie den Funktionsumfang von OpenSlides mit
<a href="{{ plugins_url }}">Plugins</a>.{% endblocktrans %}
</p>
<br>

<h2><img class="os-icon" src="/static/img/icons/glyphicons_066_tags.png">
{% trans 'Alle Versionen' %}</h2>
<p>{% trans 'Ältere Versionen sowie die OpenPGP-Signaturen finden Sie unter' %}
<a href="http://files.openslides.org/releases/">http://files.openslides.org/releases/</a>.
</p>
<br>

<h2><img class="os-icon" src="/static/img/icons/glyphicons_136_cogwheel.png">
{% trans 'Quellcode' %}</h2>
<p>{% blocktrans %}Der aktuelle Entwicklungsstand von OpenSlides kann im öffentlichen
<a href="https://github.com/OpenSlides/OpenSlides">Quellcode-Repository bei GitHub</a> eingesehen werden.{% endblocktrans %}</p>

<p>{% trans 'Zum Auschecken des OpenSlides-Quellcodes nutzen Sie:' %}</p>

<p><code>git clone https://github.com/OpenSlides/OpenSlides.git</code></p>

{% endblock %}
