{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Download{% endblock %}
{% block headline %}Download{% endblock %}

{% block mainmenu_download %}active{% endblock %}


{% block content %}
<h2>{% trans 'Aktuelle Version: OpenSlides 1.3.1 (veröffentlicht am 9.1.2013)' %}</h2>
<div class="row">
    <div class="span4 well">
    <h3>{% trans 'Für Windows' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://files.openslides.org/openslides-1.3.1-portable.zip">
      {% trans 'Download OpenSlides' %}<br>
      <small>v1.3.1 | .zip | 10 MB</small></a>
      </p>
      <p>{% blocktrans %}Dies ist eine <strong>portable Version</strong>.
      OpenSlides muss nicht installiert werden. Einfach herunterladen, entpacken und openslides.exe starten!{% endblocktrans %}</p>
    </div>
    <div class="span4 well">
      <h3>{% trans 'Für Linux/MacOS' %}</h3>
      <p>{% trans 'Download und Installation aus dem Python Package Index (PyPI)' %}:</p>
      <p><code>pip install openslides</code></p>
      <p>{% blocktrans %}Alternativ kann auch das aktuelle 
      <a href="http://files.openslides.org/openslides-1.3.1.tar.gz">Quellcode-Paket</a> von OpenSlides
      heruntergeladen und installiert werden.{% endblocktrans %}<br>
      {% blocktrans %}Details in der <a href="http://files.openslides.org/INSTALL-1.3.1.txt">Installationsanleitung</a>.{% endblocktrans %}</p>
      </p>
    </div>
</div>
<p>OpenSlides ist Freie Software, lizensiert unter der <a href="{% url license %}">GNU GPL v2+</a>.</p>


<h2>{% trans 'Alle Versionen' %}</h2>
<p>{% trans 'Ältere Versionen und Prüfsummen finden Sie unter' %}
<a href="http://files.openslides.org/">files.openslides.org</a>.
</p>


<h2>{% trans 'Quellcode' %}</h2>
<p>{% blocktrans %}Der aktuelle Entwicklungstand von OpenSlides kann im öffentlichen
<a href="https://github.com/OpenSlides/OpenSlides">Quellcode-Repository bei GitHub</a> eingesehen werden.{% endblocktrans %}</p>

<p>{% trans 'Zum Auschecken des OpenSlides-Quellcodes nutzen Sie:' %}</p>

<p><code>git clone https://github.com/OpenSlides/OpenSlides.git</code></p>

{% endblock %}
