{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Funktionen" %}{% endblock %}
{% block headline %}{% trans "Funktionen" %}{% endblock %}

{% block submenu_features %}active{% endblock %}

{% block lead %}
{% trans "Alle Funktionen von OpenSlides im Überblick." %}
{% endblock %}

{% block content %}
<ul class="pager">
    <li>
    <a href="#projector">{% trans "Projektor" %}</a>
    </li>
    <li>
    <a href="#agenda">{% trans "Tagesordnung" %}</a>
    </li>
    <li>
    <a href="#applications">{% trans "Anträge" %}</a>
    </li>
    <li>
    <a href="#elections">{% trans "Wahlen" %}</a>
    </li>
    <li>
    <a href="#participants">{% trans "Teilnehmer/innen" %}</a>
    </li>
    <li>
    <a href="#general">{% trans "Allgemein" %}</a>
    </li>
</ul>


<a name="projector"></a>
<div class="page-header">
    <h1>{% trans "Projektor" %}</h1>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Projektor aktualisiert sich automatisch" %}</h5>
        <p>{% blocktrans %}Änderung können vorgenommen werden, ohne den Präsentationsmodus zu beenden.
        Eine verkleinerte Projektor-Live-Ansicht zeigt immer die aktuell ausgewählte
        Folie an.{% endblocktrans %}
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-projector-widget_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Dashboard mit Widgets" %}</h5>
        <p>{% blocktrans %}Alle Inhalte in OpenSlides sind als "Folie" projizierbar und 
        werden auf dem Dashboard übersichtlich in zusammenklappbaren und fixierbaren
        Widgets aufgelistet.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Countdown zur Redezeitbegrenzung" %}</h5>
        <p>{% blocktrans %}Zur Begrenzung der Redezeit lässt sich jederzeit ein konfigurierbarer Countdown
        einblenden. Zusätzlich ist stets die aktuelle Uhrzeit auf der Projektoransicht
        sichtbar.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/projector-countdown_de.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Eigene Folien erstellen" %}</h5>
        <p>{% blocktrans %}Benutzerdefinierte Folien eignen sich gut für organisatorische Dinge abseits der
        formalen Tagesordnung.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-custom-slides_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Widget Rednerliste" %}</h5>
        <p>{% blocktrans %}Jeder Teilnehmer kann sich selbst auf die Rednerliste setzen und zur
        aktuellen Rednerliste springen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-speakers-widget_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Überblendungen" %}</h5>
        <p>{% blocktrans %}Kurze Meldungen lassen sich auf Folien überblenden. Die aktuelle Folie wird
        dabei nicht verlassen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/projector-overlay_de.png">
        </p>
    </div>
</div>


<a name="agenda"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Tagesordnung" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Tagesordnung verwalten</h5>
        <p>Verwalten Sie Ihre Tagesordung komfortabel mit OpenSlides.
        Einträge lassen sich einfach per Drag&Drop verschieben. Eine hierarchische 
        Liste mit Unterpunkten ist möglich.
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-list_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Einträge projizieren</h5>
        <p>Jeder Tagesordnungseintrag lässt sich per Mausklick auf dem Projektor anzeigen.
        Egal in welcher Reihenfolge! Auch Rednerlisten lassen sich so projizieren.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-projector_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Rednerliste</h5>
        <p>Jeder Tagesordnungseintrag enthält eine unabhängige Rednerliste,
        die von der Versammlungsleitung verwaltet wird. Teilnehmer können sich selbst
        auf diese Liste setzen.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-speakers-list_de.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Erledigt markieren</h5>
        <p>Abgeschlossene Tagesordnungspunkte können als erledigt markiert und
        anschließend zur besseren Übersicht ausgeblendet werden.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-filter-closed-items_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Zeitplanung</h5>
        <p>Schätzen Sie für jeden Tagesordnungseintrag eine Dauer und erhalten Sie
        dadurch einen prognostierten Endzeitpunkt der Veranstaltung.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-duration_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Tagesordnung als PDF</h5>
        <p>Die vollständige Tagesordnung lässt sich auch als PDF anzeigen.</p><br>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-pdf_de.png">
        </p>
    </div>
</div>

<a name="applications"></a>
<br><br><br>
<div class="page-header">
    <h1>Anträge</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Anträge papierlos verwalten</h5>
        <p>Importieren Sie Anträge aus einer CSV-Datei. Legen Sie die automatische
        Nummerierungsart fest und bestimmen Sie die Zugriffsrechte für Anträge: Welche Gruppen
        dürfen Anträge sehen, erstellen, verwalten und unterstützen?
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-list_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>HTML-Editor</h5>
        <p>Für einfache Formatierung von Antragstexten und -begründung ist ein HTML-Editor ("CKEditor")
        integriert. Die Formatierungen werden auch in der PDF-Fassung unterstützt.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-editor_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Versionshistorie und Log</h5>
        <p>Änderungen eines Antrags können als neue Version gespeichert werden und
        lassen sich vergleichen. Jede Bearbeitungsaktion wird protokolliert und lässt sich
        zur besseren Rückverfolgung in OpenSlides einsehen.
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-version-table_de.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Unterstützen von Anträgen</h5>
        <p>Sie können einstellen, ob Unterstützer nötig sind, um einen Antrag zuzulassen.
        Teilnehmer können dann direkt in OpenSlides Ihre Zustimmung für einen Antrag äußern.</p>
    </div>
    <div class="span4">
        <h5>Sachgebiete verwalten</h5>
        <p>Ordnen Sie Sachgebiete Ihren Anträgen zu und vergeben Sie zusätzlich ein
        passendes Prefix für die Antragsbezeichner, z.B. "SA 1".
        </p>
    </div>
    <div class="span4">
        <h5>Antragsbuch als PDF</h5>
        <p>Alle vorhandenen Anträge lassen sich übersichtlich in ein PDF erstellen;
        inkl. Informationen zu Antragsteller, Abstimmgungsergebnis und Begründung eines Antrags.
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Anträge in die Tagesordnung</h5>
        <p>Jeder Antrag lässt sich als Referenz zusätzlich in die Tagesordnung
        einsortieren.</p>
    </div>
    <div class="span4">
        <h5>Anträge abstimmen</h5>
        <p>Nach Abstimmung eines Antrags im Plenum wird das ausgezählte
        Ergebnis in OpenSlides eingegeben (mit OpenSlides selbst wird nicht abgestimmt!).
        Dabei sind auch spezielle Werte für die <i>Mehrheit</i> der Stimmen, oder <i>nicht erfasste</i> Stimmen möglich.
        Anträge werden immer mit Ja-Nein-Enthaltung abgestimmt. Optional sind die abgegebenen Stimmen.</p>
    </div>
    <div class="span4">
        <h5>Arbeitsabläufe und Zustände definieren</h5>
        <p>Jeder Antrag durchläuft verschiedene Phasen in demokratischen Versammlungen.
        Nutzen Sie einen der zwei voreingestellten Arbeitsablä̈ufe mit vordefinierten
        Zuständen, die ein Antrag typischerweise einnehmen kann oder konfigurieren Sie Ihren individuellen
        Antragsablauf selbst.
        (Details im <a href="http://docs.openslides.org/de/Motion.html#arbeitsablauf-und-status">Handbuch</a>.)
        </p>
    </div>
</div>

<a name="elections"></a>
<br><br><br>
<div class="page-header">
    <h1>Wahlen</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Wahlen verwalten</h5>
        <p>Jede Wahl besteht aus Name und Anzahl der zur Wahl stehenden Posten sowie - optional - aus
        einer Beschreibung und einem Kommentar für den Stimmzettel.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-list_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Stimmzettel als PDF</h5>
        <p>Geheime Wahlen benötgen Stimmzettel. Und diese können Sie schnell und unkompliziert direkt mit OpenSlides
        generieren - mit passenden Ankreuzfeldern vor jedem Kandidaten.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-ballot_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Unterstützte Wahlmethoden</h5>
        <p>OpenSlides unterstützt die Auswahl von 2 Wahlmethoden: "Eine Stimme pro Kandidat/in" oder 
        "Ja, Nein, Enthaltungs pro Kandidat/in". Eine automatische Zuordnung beider Methoden, abhängig 
        von der Anzahl der Kandidaten und zu vergebenen Posten, ist die Voreinstellung in OpenSlides.
        Ungültige und abgegebene Stimmen können zusätzlich immer erfasst werden.</p>
        
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Kandiatenliste aufstellen</h5>
        <p>Kandidaten können für eine Wahl direkt aus der Teilnehmerliste vorgeschlagen werden.
        Angemeldete Teilnehmer können per Mausklick sogar selbst kandidieren - sofern Sie die Berechtigung dazu haben.</p>
        <p>

        <h5>Mehrere Wahlgänge</h5>
        <p>Mit OpenSlides können Sie beliebig viele Wahlgänge durchführen - und diese übersichtlich nebeneinander darstellen.
        Auch Stichwahlen sind leicht damit möglich.</p>
    </div>
    <div class="span4">
        <h5>Wahlergebnisse eingeben und darstellen</h5>
        <p>Sind die Wahlergebnisse ausgezählt, werden sie in OpenSlides vom Versammlungsleiter eingegeben. 
        Per Knopfdruck werden die Zahlen auch für alle anderen Teilnehmer sichtbar.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-vote-results_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Alle Wahlergebnisse in einem PDF</h5>
        <p>Exportieren Sie alle Wahlen ins PDF und geben Sie am Ende der Versammlung 
        allen Delegierten eine Zusammenfassung aller gewählten Ämter. Oder nutzen Sie
        das PDF sogar als Anhang für Ihr Beschlussprotokoll.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-pdf_de.png">
        </p>
    </div>
</div>

<a name="participants"></a>
<br><br><br>
<div class="page-header">
    <h1>Teilnehmer</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Teilnehmer/innen verwalten</h5>
        <p>Nutzen Sie den <a href="http://dev.openslides.org/wiki/CSVImport">CSV-Import</a>
        zur Übernahme aus Ihrer Teilnehmerverwaltung.
        Dabei kann auch die Gliederungsebene, das Amt und ein Kommentar angegeben werden.
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-list_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Gruppen und Rechte festlegen</h5>
        <p>Was jeder Teilnehmer sehen darf und was nicht, definieren Sie mit einzelnen Rechten. Mehrere Rechteeinstellungen
        können Sie in einer Gruppe zusammenfassen. Auch ein Gast (Anonymous-Nutzer) ist so aktivierbar.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-permissions_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Zugangszettel mit Erstpasswort und QR-Code</h5>
        <p>Verteilen Sie beim Empfang generierte Zettel mit
        Passwörtern und einem QR-Code zum Abscannen Ihrer OpenSlides-URL
        an Ihre Teilnehmer.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-password-pdf_de.png">
        </p>
    </div>
</div>

<a name="general"></a>
<br><br><br>
<div class="page-header">
    <h1>Allgemein</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>Portable Version für Windows</h5>
        <p>OpenSlides ist für Windows als portable Version verfügbar. Seit 1.4 mit grafischem
        Frontend und komfortabler Einrichtung einer automatischen Backupfunktion der SQLite-Datenbank.
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/portable-gui.png">
        </p>
    </div>
    <div class="span4">
        <h5>Upload und Download von Dateien</h5>
        <p>Nutzen Sie während Ihrer Versammlung eine gemeinsame Dokumentenablage für alle Teilnehmer.
        Regeln Sie, welche Gruppen Upload- und Download-Rechte bekommen sollen.</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/mediafile-list_de.png">
        </p>
    </div>
    <div class="span4">
        <h5>Responsive Design mit Bootstrap</h5>
        <p>OpenSlides erscheint im modernen, responsiven Design auf
        Basis von Bootstrap und ist optimiert für unterschiedliche Mobilgeräte.</p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>OpenSlides ist mehrsprachig</h5>
        <p>OpenSlides ist vollständig internationalisiert und ist derzeit in Deutsch,
        Englisch und Französisch verfügbar. (Weitere Sprachen sind gerne willkommen!)</p>
    </div>
    <div class="span4">
        <h5>Tornado Webserver und SQLite</h5>
        <p>OpenSlides integriert den leistungsfähigen, pythonbasierten Tornado Webserver. Als Datenbank
        nutzt OpenSlides voreingestellt SQLite.</p>

    </div>
    <div class="span4">
        <h5>Projektortemplate anpassbar</h5>
        <p>Die Projektoransicht ist leicht an Ihre individuellen Gestaltungsrichtlinien anpassbar; über
        eine zentral HTML- und CSS-Datei.</p>
    </div>
</div>
{% endblock %}
