{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Funktionen" %}{% endblock %}
{% block headline %}{% trans "Funktionen" %}{% endblock %}

{% block submenu_features %}active{% endblock %}

{% block lead %}
{% url 'demo' as demo_url %}
{% blocktrans %}Entdecken Sie die Funktionen von OpenSlides.
Probieren Sie diese in der <a href='{{demo_url}}'>Online-Demo</a> aus!
{% endblocktrans %}
{% endblock %}

{% block content %}
<ul class="pager">
    <li>
    <a href="#projector">{% trans "Projektor" %}</a>
    </li>
    <li>
    <a href="#agenda">{% trans "Tagesordnung" %}</a>
    </li>
    <li>
    <a href="#applications">{% trans "Anträge" %}</a>
    </li>
    <li>
    <a href="#elections">{% trans "Wahlen" %}</a>
    </li>
    <li>
    <a href="#participants">{% trans "Teilnehmer/innen" %}</a>
    </li>
    <li>
    <a href="#general">{% trans "Allgemeines" %}</a>
    </li>
</ul>


<a name="projector"></a>
<div class="page-header">
    <h1>{% trans "Projektor" %}</h1>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Projektor aktualisiert sich automatisch" %}</h5>
        <p>{% blocktrans %}Änderung können vorgenommen werden ohne den Präsentationsmodus zu beenden.
        Eine verkleinerte Projektor-Live-Ansicht zeigt immer die aktuell ausgewählte
        Folie an.{% endblocktrans %}
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-projector-widget_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Dashboard mit Widgets" %}</h5>
        <p>{% blocktrans %}Das Dashboard ist die "Projektor-Steuereinheit" für
        die Versammlungsleitung. Alle Inhalte sind als "Folie" projizierbar und 
        werden in flexiblen Widgets dargestellt.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Countdown zur Redezeitbegrenzung" %}</h5>
        <p>{% blocktrans %}Zur Begrenzung der Redezeit lässt sich jederzeit ein konfigurierbarer Countdown
        einblenden. Zusätzlich ist stets die aktuelle Uhrzeit auf der Projektoransicht
        sichtbar.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/projector-countdown_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Eigene Folien erstellen" %}</h5>
        <p>{% blocktrans %}Erstellen Sie Folien für organisatorische Dinge abseits der
        formalen Tagesordnung.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-custom-slides_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Rednerliste einblenden" %}</h5>
        <p>{% blocktrans %}Rednerlisten eines Tagesordnungspunktes lassen sich projizieren oder
        dezent in der unteren Ecke einblenden.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/projector-list-of-speakers-overlay_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Überblendungen" %}</h5>
        <p>{% blocktrans %}Kurze Meldungen lassen sich auf Folien überblenden. Die aktuelle Folie wird
        dabei nicht verlassen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/projector-overlay_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>


<a name="agenda"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Tagesordnung" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Tagesordnung verwalten" %}</h5>
        <p>{% blocktrans %}Verwalten Sie Ihre Tagesordnung mit OpenSlides.
        Tagesordnungspunkte lassen sich (per CSV) importieren und
        leicht per Drag&Drop zu einer hierarchischen Liste mit
        Unterpunkten verschieben.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Einträge projizieren" %}</h5>
        <p>{% blocktrans %}Jeder Tagesordnungspunkt kann per Mausklick
        auf dem Projektor angezeigt werden. Egal in welcher Reihenfolge!
        Auch Rednerlisten lassen sich so projizieren.{% endblocktrans %}</p><br>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-projector_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Rednerliste" %}</h5>
        <p>{% blocktrans %}Jeder Tagesordnungspunkt enthält eine unabhängige Rednerliste,
        die von der Versammlungsleitung verwaltet wird. Teilnehmer können sich auch selbst
        auf die Liste setzen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-speakers-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Automatische Nummerierung" %}</h5>
        <p>{% blocktrans %}Auf Klick lässt sich die Tagesordnung automatisch
        nummerieren (mit arabischen oder römischen Ziffern); optional mit
        einstellbarem Präfix (z.B. "TOP 1").{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-auto-numbering_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Zeitplanung" %}</h5>
        <p>{% blocktrans %}Schätzen Sie die Dauer für jeden Tagesordnungspunkt und erhalten Sie
        dadurch einen prognostizierten Endzeitpunkt der Tagung.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-duration_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Rednerliste auf zweiten Bildschirm" %}</h5>
        <p>{% blocktrans %}Behalten Sie die aktuelle Rednerliste über
        einen zweiten Bildschirm immer im Blick - während der Projektor zeitgleich
        für das Plenum den zugehörigen TOP anzeigt.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-projector-list-of-speakers_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Organisatorische Einträge" %}</h5>
        <p>{% blocktrans %}Neben formalen Tagesordnungspunkten kann eine
        Tagesordnung auch organisatorische Einträge (wie z.B. Pausen
        oder thematische Blöcke) enthalten.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-orga-items_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Erledigt markieren" %}</h5>
        <p>{% blocktrans %}Abgeschlossene Tagesordnungspunkte können als erledigt markiert und
        anschließend zur besseren Übersicht ausgeblendet werden.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-filter-closed-items_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Tagesordnung als PDF" %}</h5>
        <p>{% blocktrans %}Die vollständige Tagesordnung lässt sich als PDF
        exportieren.{% endblocktrans %}</p><br>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/agenda-pdf_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>

<a name="applications"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Anträge" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Anträge papierlos verwalten" %}</h5>
        <p>{% blocktrans %}Importieren Sie Anträge aus einer CSV-Datei. Legen Sie die automatische
        Nummerierungsart fest und bestimmen Sie die Zugriffsrechte für Anträge: Welche Gruppen
        dürfen Anträge sehen, erstellen, verwalten und unterstützen?{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "HTML-Editor" %}</h5>
        <p>{% blocktrans %}Für einfache Formatierung von Antragstexten ist ein HTML-Editor ("CKEditor")
        integriert. Die Formatierungen werden zum Großteil auch in der PDF-Fassung unterstützt.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-editor_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Versionshistorie und Log" %}</h5>
        <p>{% blocktrans %}Änderungen eines Antrags können als neue Version gespeichert werden und
        lassen sich vergleichen. Jede Bearbeitungsaktion wird protokolliert und lässt sich
        zur besseren Rückverfolgung in OpenSlides einsehen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/motion-version-table_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Unterstützen von Anträgen" %}</h5>
        <p>{% blocktrans %}Sie können einstellen, ob Unterstützer nötig sind, um einen Antrag zuzulassen.
        Teilnehmer können dann direkt in OpenSlides Ihre Zustimmung für einen Antrag
        äußern.{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Sachgebiete verwalten" %}</h5>
        <p>{% blocktrans %}Ordnen Sie Sachgebiete Ihren Anträgen zu und vergeben Sie 
        zusätzlich ein passendes Präfix für die Antragsbezeichner, z.B. "SA 1".{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Antragsbuch als PDF" %}</h5>
        <p>{% blocktrans %}Alle Anträge lassen sich übersichtlich zu einem PDF zusammenfassen;
        inkl. Antragsteller, Abstimmungsergebnisse und Begründungen.{% endblocktrans %}</p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Änderungsanträge erstellen" %} 
            <span class="label label-important">{% trans "Neu in 1.7" %}</span>
        </h5>
        <p>{% blocktrans %}Zu einem Hauptantrag lässt sich auf Knopfdruck ein Änderungsantrag
        einreichen. Der Bezug zum Hauptantrag ist stets gegeben. Eine automatische Nummerierung
        hilft beim Filtern und Verwalten von Änderungsanträgen
        (z.B.: Hauptantrag L1 und zugehöriger Änderungsantrag L1 Ä1).{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Sichtbarkeit von Anträgen einschränken" %}
            <span class="label label-important">{% trans "Neu in 1.7" %}</span>
        </h5>
        <p>{% blocktrans %}Anträge lassen sich für bestimmte
        Teilnehmergruppen erst ab einem definierbaren Status
        öffentlich einsehen. D.h. normale Nutzer im Plenum sehen Anträge beispielsweise erst
        nach erfolgter Freigabe durch die Organisatoren.
        {% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Schlagwörter zur Verwaltung" %}
            <span class="label label-important">{% trans "Neu in 1.7" %}</span>
        </h5>
        <p>{% blocktrans %}Versammlungsleiter können „Tags“
        zur Verschlagwortung von Einträgen vergeben, um leichter inhaltlich
        zusammengehörige Elemente zu verwalten. Beispielsweise kann ein Antrag, ein
        Tagesordnungspunkt und eine Wahl mit dem gleichen Schlagwort versehen werden.
        {% endblocktrans %}</p>
    </div>
</div>

<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Anträge abstimmen" %}</h5>
        {% url 'support_packages' as supportpackages_url %}
        <p>{% blocktrans %}Nach Abstimmung eines Antrags im Plenum wird das ausgezählte
        Ergebnis in OpenSlides eingegeben (mit OpenSlides selbst wird nicht abgestimmt!).
        Dabei sind auch spezielle Werte für die <i>Mehrheit</i> der
        Stimmen, oder <i>nicht erfasste</i> Stimmen möglich.
        Anträge werden immer mit Ja-Nein-Enthaltung abgestimmt. Möglich ist auch ein
        Stimmzetteldruck für geheime Abstimmungen.
        Auf Anfrage sind <a href="{{supportpackages_url}}">elektronische Abstimmungen</a> mit dem VoteCollector-Plugin möglich.
        {% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Anträge in die Tagesordnung" %}</h5>
        <p>{% blocktrans %}Jeder Antrag lässt sich als Referenz zusätzlich in die Tagesordnung
        einsortieren.{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Arbeitsabläufe und Zustände definieren" %}</h5>
        <p>{% blocktrans %}Jeder Antrag durchläuft verschiedene Phasen in demokratischen Versammlungen.
        Nutzen Sie einen der <a href="http://docs.openslides.org/de/Motion.html#arbeitsablauf-und-status">zwei
        voreingestellten Arbeitsablä̈ufe</a> mit vordefinierten
        Zuständen, die ein Antrag typischerweise einnehmen kann oder konfigurieren Sie Ihren individuellen
        Antragsablauf selbst.{% endblocktrans %}
        </p>
    </div>
</div>

<a name="elections"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Wahlen" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Wahlen verwalten" %}</h5>
        <p>{% blocktrans %}Jede Wahl besteht aus Name und Anzahl der zur Wahl stehenden Posten sowie - optional - aus
        einer Beschreibung des Amtes und einem Kommentar für den Stimmzettel.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Personalisierte Stimmzettel" %}</h5>
        <p>{% blocktrans %}Geheime Wahlen benötgen Stimmzettel. Und diese können Sie unkompliziert direkt mit OpenSlides
        generieren - mit passenden Ankreuzfeldern für jeden Kandidaten.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-ballot_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Unterstützte Wahlmethoden" %}</h5>
        <p>{% blocktrans %}OpenSlides unterstützt die Auswahl von 2 Wahlmethoden: "Eine Stimme pro Kandidat/in" oder 
        "Ja, Nein, Enthaltung pro Kandidat/in". Eine automatische Zuordnung beider Methoden, abhängig 
        von der Anzahl der Kandidaten und zu vergebenen Posten, ist die Voreinstellung in OpenSlides.
        Gültige, ungültige und abgegebene Stimmen können zusätzlich erfasst werden.{% endblocktrans %}</p>
        
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Kandidatenliste aufstellen" %}</h5>
        <p>{% blocktrans %}Kandidaten können für eine Wahl direkt aus der Teilnehmerliste vorgeschlagen werden.
        Angemeldete Teilnehmer können per Mausklick sogar selbst kandidieren - sofern Sie die Berechtigung dazu haben.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-candidates_{{LANGUAGE_CODE}}.png">
        </p>
        <p>
    </div>
    <div class="span4">
        <h5>{% trans "Wahlergebnisse eingeben und darstellen" %}</h5>
        <p>{% blocktrans %}Sind die Wahlergebnisse ausgezählt, werden sie in OpenSlides vom Versammlungsleiter eingegeben. 
        Per Knopfdruck werden die Zahlen auch für alle anderen Teilnehmer sichtbar.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-vote-results_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Alle Wahlergebnisse in einem PDF" %}</h5>
        <p>{% blocktrans %}Exportieren Sie alle Wahlen ins PDF und geben Sie am Ende der Versammlung 
        allen Delegierten eine Zusammenfassung aller gewählten Ämter. Oder nutzen Sie
        das PDF sogar als Anhang für Ihr Beschlussprotokoll.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/election-pdf_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Mehrere Wahlgänge" %}</h5>
        <p>{% blocktrans %}Mit OpenSlides können Sie beliebig viele Wahlgänge durchführen - und diese übersichtlich nebeneinander darstellen.
        Auch Stichwahlen sind leicht damit möglich.{% endblocktrans %}</p>
    </div>
    <div class="span4">
    </div>
    <div class="span4">
    </div>
</div>
<a name="participants"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Teilnehmer" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Teilnehmer/innen verwalten" %}</h5>
        <p>{% blocktrans %}Nutzen Sie den <a href="http://dev.openslides.org/wiki/CSVImport">CSV-Import</a>
        zur Übernahme Ihrer vorhandenen Teilnehmerdaten.
        Dabei kann auch die Gliederungsebene, das Amt, die
        Benutzergruppe, ein Kommentar u.v.m. angegeben werden.{% endblocktrans %}
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Gruppen und Rechte festlegen" %}</h5>
        <p>{% blocktrans %}Was jeder Teilnehmer sehen darf und was nicht, definieren Sie mit einzelnen Rechten.
        Mehrere Rechte können Sie zu einer Gruppe zusammenfassen. Auch ein Gast (Anonymous-Nutzer) ist so aktivierbar.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-permissions_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Zugangszettel für WLAN und OpenSlides" %}</h5>
        <p>{% blocktrans %}Verteilen Sie Ihren Teilnehmern beim
        Empfang einen generierte Infozettel mit Zugangsdaten für
        das WLAN am Veranstaltungsort und OpenSlides, inkl. praktischem QR-Code zum Abscannen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/participants-password-pdf_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>

<a name="general"></a>
<br><br><br>
<div class="page-header">
    <h1>{% trans "Allgemeines" %}</h1>
    <ul class="pager">
        <li class="next"><a href="#">&uarr; {% trans "Nach oben" %}</a></li>
    </ul>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Portable Version für Windows" %}</h5>
        <p>{% blocktrans %}OpenSlides ist für Windows als portable Version verfügbar. Seit 1.4 mit grafischem
        Frontend und komfortabler Einrichtung einer automatischen Backupfunktion der SQLite-Datenbank.{% endblocktrans %}
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/portable-gui.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Dokumentenablage" %}</h5>
        <p>{% blocktrans %}Nutzen Sie während Ihrer Versammlung eine gemeinsame Dokumentenablage für alle Teilnehmer.
        Regeln Sie, welche Gruppen Upload- und Download-Rechte bekommen sollen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/mediafile-list_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "PDF-Dokumente präsentieren" %}</h5>
        <p>{% blocktrans %}PDF-Dateien lassen sich in Vollbild an die
        Leinwand projizieren und zentral über ein Widget steuern. Damit
        können Sie nun auch in der letzten Reihe per Mobilgerät die Präsentation verfolgen.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/dashboard-presentation-widget_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "Gruppen-Chat" %}</h5>
        <p>
        {% blocktrans %}Nutzen Sie die Chatfunktion für einen
        reibungslosen Austausch unter den Organisatoren (z.B.
        Wahlleitung, Versammlungsleitung, Antragskommission und Regie).{% endblocktrans %}
        </p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/chat.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Volltextsuche" %}</h5>
        <p>{% blocktrans %}Finden Sie schnell den gesuchten Inhalt mit
        der integrierten (pythonbasierten) Volltextsuche - auch einschränkbar auf bestimmte Module.
        {% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/fulltextsearch_{{LANGUAGE_CODE}}.png">
        </p>
    </div>
    <div class="span4">
        <h5>{% trans "Responsive Design mit Bootstrap" %}</h5>
        <p>{% blocktrans %}OpenSlides erscheint im modernen, responsiven Design auf
        Basis von Bootstrap und ist optimiert für unterschiedliche Mobilgeräte.{% endblocktrans %}</p>
        <p class="thumbnail">
        <img alt="" src="/static/img/features/responsive-design.png">
        </p>
    </div>
</div>
<div class="row greytext">
    <div class="span4">
        <h5>{% trans "OpenSlides ist mehrsprachig" %}</h5>
        <p>{% blocktrans %}OpenSlides ist vollständig internationalisiert und ist derzeit in Deutsch,
        Englisch, Französisch, Tschechisch und Portugiesisch verfügbar.
        Weitere Sprachen können gerne über <a href="https://www.transifex.com/projects/p/openslides/">Transifex</a> eingereicht werden.{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Plattformunabhängig mit Python" %}</h5>
        <p>{% blocktrans %}OpenSlides basiert auf dem Python-Webframework Django, ist
        plattformunabhängig auf Windows, MacOS und Linux lauffähig 
        und integriert den leistungsfähigen Tornado Webserver.
        Als Datenbank wird voreingestellt SQLite verwendet (PostgreSQL und MySQL
        werden auch unterstützt).{% endblocktrans %}</p>
    </div>
    <div class="span4">
        <h5>{% trans "Projektortemplate anpassbar" %}</h5>
        <p>{% blocktrans %}Die Projektoransicht ist leicht an Ihre individuellen Gestaltungsrichtlinien anpassbar; über
        eine zentrale HTML- und CSS-Datei. Logo, Titel und
        Hintergrundfarbe ist sogar dirkt in der Oberfläche (unter Konfiguration)
        einstellbar.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
