{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Home{% endblock %}
{% block header %}
    <style type="text/css">
        #headline { height: 350px;}
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000
            });
        });
    </script>
{% endblock %}

{% block mainmenu_home %}active{% endblock %}

{% block container %}
  <div class="hero-unit">
    <div class="row">
    <div class="span5">
        <h1>OpenSlides</h1>
        <br>
        <p>{% trans 'Mehr Transparenz.' %}<br> {% trans 'Mehr Flexibilität.' %}<br> {% trans 'Mehr Effizienz.' %}<br>
        <strong>{% trans 'Die Lösung für Ihre Versammlung!' %}</strong></p>
        <br>
        <a class="jumbotron btn btn-large" href="{% url 'download' %}">
        {% trans 'Download' %}
        </a>

        <a class="jumbotron btn btn-large" href="{% url 'demo' %}">
        {% trans 'Demo' %}
        </a>
        </p>
        <p><a class="jumbotron btn btn-large btn-primary"
             href="{% url 'features' %}">{% trans 'Funktionen' %}</a>
        </p>
    </div>
    <div class="span6">
        <div id="screens" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#screens" data-slide-to="0" class="active"></li>
                <li data-target="#screens" data-slide-to="1"></li>
                <li data-target="#screens" data-slide-to="2"></li>
                <li data-target="#screens" data-slide-to="3"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="/static/img/screenshots/agenda-list_{{LANGUAGE_CODE}}.png" alt="">
                    <div class="carousel-caption"><p>{% trans 'Tagesordnung organisieren' %}</p></div>
                </div>
                <div class="item">
                    <img src="/static/img/screenshots/motion-list_{{LANGUAGE_CODE}}.png" alt="">
                    <div class="carousel-caption"><p>{% trans 'Anträge papierlos verwalten' %}</p></div>
                </div>
                <div class="item">
                    <img src="/static/img/screenshots/election-ballot_{{LANGUAGE_CODE}}.png" alt="">
                    <div class="carousel-caption"><p>{% trans 'Wahlen mit personalisierten Stimmzetteln' %}</p></div>
                </div>
                <div class="item">
                    <img src="/static/img/screenshots/portable-gui.png" alt="">
                    <div class="carousel-caption"><p>{% trans 'Frontend der portablen Windowsversion' %}</p></div>
                </div>

            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#screens" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#screens" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
        {% include "news.html" %}
        <p><a class="btn" href="{% url 'press' %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
    <div class="span4">
      <h2><img class="os-icon" src="/static/img/icons/glyphicons_074_cup.png">
      {% trans 'Auszeichnungen' %}</h2>
        <p>{% trans 'OpenSlides wurde bereits mehrfach als innovatives Produkt ausgezeichnet' %}:</p>
        <ul><li>{% trans '1. Platz beim Open Source Business Award 2014' %}
        (<a href="http://mail.openslides.org/pipermail/users-de/2014-October/000341.html">{% trans 'mehr' %}</a>)</li>
        <li>{% trans '1. Platz beim innovate!Interaction Award 2012' %}
        (<a href="http://mail.openslides.org/pipermail/users-de/2012-October/000065.html">{% trans 'mehr' %}</a>)</li>
        <li>{% trans '2. Platz beim IT-Innovationspreis 2013' %}
        (<a href="http://mail.openslides.org/pipermail/users-de/2013-March/000124.html">{% trans 'mehr' %}</a>)</li>
        <li>{% trans '2. Platz bei domainFACTORY-Leserwahl zur besten OpenSource-Software' %}
        (<a href="http://mail.openslides.org/pipermail/users-de/2013-February/000118.html">{% trans 'mehr' %}</a>)</li>
        </ul>
      <ul class="thumbnails">
        <li class="span2">
            <span class="thumbnail" title="innovate!Interaction Award 2012">
                <img src="/static/img/innovateInteractionAward2012.jpg">
            </span>
        </li>
        <li class="span2">
            <span class="thumbnail" title="Open Source Business Award 2014">
                <img src="/static/img/OSBAR2014.jpg">
            </span>
        </li>
      </ul>
   </div>
    <div class="span4">
      <h2><img class="os-icon" src="/static/img/icons/glyphicons_332_certificate.png">
      {% trans 'Referenzen' %}</h2>
      <p>{% trans 'OpenSlides war bereits erfolgreich im Einsatz bei:' %}</p>
      <ul class="thumbnails">
        <li class="span2">
          <span class="thumbnail" title="Piratenpartei Deutschland">
            <img alt="Piraten" src="/static/img/references/piraten-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg">
            <img alt="Grüne HH" src="/static/img/references/gruene-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="Evangelischen StudentInnengemeinde in der Bundesrepublik Deutschland (ESG)">
            <img alt="ESG" src="/static/img/references/esg-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="SPD Schleswig-Holstein">
            <img alt="aej" src="/static/img/references/spd-logo.png">
          </span>
        </li>
      </ul>
      <a class="btn" href="{% url 'references' %}">{% trans 'Weitere Referenzen' %} &raquo;</a>
    </div>
  </div>
{% endblock %}
