{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Home{% endblock %}
{% block header %}
 <style type="text/css">
   #headline { height: 350px;}
 </style>
{% endblock %}

{% block mainmenu_home %}active{% endblock %}

{% block container %}
  <div class="hero-unit">
    <div class="row">
    <div class="span5">
    <h1>OpenSlides</h1>
    <br>
    <p>{% trans 'Mehr Transparenz.' %}<br> {% trans 'Mehr Flexibilität.' %}<br> {% trans 'Mehr Effizienz.' %}<br>
    <strong>{% trans 'Die Lösung für Ihre Versammlung!' %}</strong></p>
    <br>
    <a class="jumbotron btn btn-primary btn-large" href="{% url download %}">
    {% trans 'Download' %} 1.3.1
    </a>

    <a class="jumbotron btn btn-large" href="{% url demo %}">
    {% trans 'Demo' %}
    </a>
    </p>
    </div>
    <div class="span5">
        <div class="thumbnail">
          <img src="/static/img/agenda-overview_{{LANGUAGE_CODE}}.png" alt="Screenshot">
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
        {% include "news.html" %}
        <p><a class="btn" href="{% url press %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
    <div class="span4">
      <img class="os-icon" src="/static/img/icons/glyphicons_074_cup.png">
      <h2>innovate!Interaction Award</h2>
       <p>{% blocktrans %}OpenSlides hat am 17.10.2012 den 1. Platz beim
       <a href="http://innovate-os.de">innovate!Interaction Award 2012</a> in Osnabrück
       belegt!{% endblocktrans %}</p>
       <p>Hier <a href="{% url pm-20121022 %}">Pressemitteilung</a> und <a
           href="http://mail.openslides.org/pipermail/users-de/2012-October/000065.html">Community-Announcement</a> lesen.
       <p><span class="thumbnail span2" title="innovate!Interaction Award 2012">
       <img src="/static/img/innovateInteractionAward2012.jpg">
       </span>
       </p>
   </div>
    <div class="span4">
      <img class="os-icon" src="/static/img/icons/glyphicons_332_certificate.png">
      <h2>{% trans 'Referenzen' %}</h2>
      <p>{% trans 'OpenSlides war bereits erfolgreich im Einsatz bei:' %}</p>
      <ul class="thumbnails">
        <li class="span2">
          <span class="thumbnail" title="Piratenpartei Deutschland">
            <img alt="Piraten" src="/static/img/references/piraten-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg">
            <img alt="Grüne HH" src="/static/img/references/gruene-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="Evangelischen StudentInnengemeinde in der Bundesrepublik Deutschland (ESG)">
            <img alt="ESG" src="/static/img/references/esg-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="Arbeitsgemeinschaft der Evangelischen Jugend in Deutschland e. V. (aej)">
            <img alt="aej" src="/static/img/references/aej-logo.png">
          </span>
        </li>
      </ul>
      <a class="btn" href="{% url references %}">{% trans 'Weitere Referenzen' %} &raquo;</a>
    </div>
  </div>

{% endblock %}
