{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Die virtuelle Mitgliederversammlung im Verein" %}{% endblock %}
{% block headline %}{% trans "News" %}{% endblock %}

{% block submenu_press %}active{% endblock %}


{% block content %}
<p><i><a href="{% url 'press' %}">&laquo; Zurück</a></i></p>

<h3>{% trans 'Die virtuelle Mitgliederversammlung im Verein' %}</h3>
<br>
<h4>{% blocktrans %}Es gibt immer wieder Anfragen, ob OpenSlides auch für den Einsatz
    auf virtuellen Mitgliederversammlungen erweitert werden kann. Dies
    haben wir (das OpenSlides-Team) zum Anlass genommen, um einmal die
    deutsche Rechtslage für Vereine zu prüfen. Rechtsanwalt Michael
    Röcken hat freundlicherweise für uns die aktuellen Rechtssprechungen dazu
    ausgewertet und uns sein Text zur Veröffentlichung zur Verfügung
    gestellt.{% endblocktrans %}</h4>
<br>
<p><em>19. November 2012<br>Autor: Rechtsanwalt Michael Röcken, Bonn, <a href="http://www.ra-roecken.de">www.ra-roecken.de</a></em></p>

<p>
Seitens der Vereine besteht immer stärker der Wunsch, die neuen
Medien für die Kommunikation im Vereinsalltag zu nutzen.  Sei es, um
mit den Mitgliedern per E-Mail zu kommunizieren, Beschlüsse des
Vorstandes im Umlaufverfahren zu nutzen oder eine
Mitgliederversammlung "virtuell" im Internet durchführen zu können.
Hier bedarf es stets einer Satzungsregelung, da die rechtlichen
Grundlagen des Vereins durch die Satzung festgelegt werden 
(<a href="http://dejure.org/gesetze/BGB/25.html">§ 25 BGB</a>). 
</p>

<p>
Für den Vereinsbereich geht das BGB von bestimmten Grundlagen aus. So
findet die Mitgliederversammlung stets als Präsenzveranstaltung
("Versammlung der Mitglieder", <a
    href="http://dejure.org/gesetze/BGB/32.html">§ 32 Abs. 1 Satz 1
    BGB</a>) statt. Eine Abweichung ist hier nur durch eine Regelung
in der Satzung möglich. Dies ergibt sich aus <a
    href="http://dejure.org/gesetze/BGB/40.html">§ 40 BGB</a>, welcher
bestimmte Vorschriften des BGB für nicht anwendbar erklärt, wenn in
der Satzung etwas anderes geregelt ist.
</p>

<p>
Eine Satzungsregelung kann jedoch nur wirksam werden, wenn sie - bei
eingetragenen Vereinen - auch im Vereinsregister eingetragen ist 
(<a href="http://dejure.org/gesetze/BGB/71.html">§ 71 BGB</a>). Vor dieser Eintragung
findet eine Prüfung durch das Registergericht statt, ob die
vorgesehenen Änderungen und Regelungen überhaupt in der Satzung
möglich sind.  Wenn das Registergericht der Auffassung ist, dass eine
Satzungsregelung nicht möglich ist, wird diese nicht in das
Vereinsregister eingetragen. Diese Entscheidung des Registergerichtes
kann jedoch gerichtlich überprüft werden.<br>
Bei der hier zu
besprechenden <a
    href="http://www.justiz.nrw.de/nrwe/olgs/hamm/j2011/I_27_W_106_11beschluss20110927.html">Entscheidung
    des Oberlandesgerichtes (OLG) Hamm vom 27.09.2011 (Az.: I-27 W
    106/11) </a> hatte ein Verein seine Satzung u. a. dahingehend
geändert, dass  <i>"Die Mitgliederversammlung entweder real oder virtuell
(Onlineverfahren) in einem nur für Mitglieder mit ihren
Legitimationsdaten und einem gesonderten Zugangswort zugänglichen
Chat-Raum"</i> erfolgt. Weiter sah der Satzungsentwurf vor, dass <i>"im
Onlineverfahren das jeweils nur für die aktuelle Versammlung gültige
Zugangswort mit einer gesonderten Email unmittelbar vor der
Versammlung, maximal 3 Stunden davor, bekannt gegeben wird.
Ausreichend ist dabei die ordnungsgemäße Absendung der Email an die
letzte dem Vorstand bekannt gegeben Email-Adresse des jeweiligen
Mitglieds. Mitglieder, die über keine Email-Adresse verfügen, erhalten
das Zugangswort per Post an die letzte dem Vorstand bekannt gegebene
Adresse. Ausreichend ist die ordnungsgemäße Absendung des Briefes zwei
Tage vor der Mitgliederversammlung. Sämtliche Mitglieder sind
verpflichtet, ihre Legitimationsdaten und das Zugangswort keinem
Dritten zugänglich zu machen und unter strengem Verschluss zu
halten."</i>
</p>

<p>
Das zuständige Registergericht lehnte eine Eintragung ab, da es die
Satzungsregelungen aus mehreren Gründen für nicht vereinbar mit den
gesetzlichen Regelungen hielt.  Zum einen fehlte dem Registergericht
<i>"eine klare Bestimmung, da reale und virtuelle Versammlungen möglich
seien"</i>.  Darüber hinaus sah es bei der "Onlineversammlung" die Gefahr,
dass <i>"sich eine fremde Person Zugang verschafft und sich als Mitglied
ausgibt", "es könne auch nicht durch den Vorstand überprüft werden, ob
die anwesenden Mitglieder geschäftsfähig"</i> seien. Schlussendlich
verwies das Registergericht auf die Regelung des <a
    href="http://dejure.org/gesetze/UmwG/13.html">§ 13 Abs. 1 Satz 2
    UmwG</a>, wonach ein Verschmelzungsbeschluss nur in einer
Versammlung der Anteilsinhaber gefasst werden kann.
</p>

<p>
Das OLG Hamm hat dem Verein hier Recht gegeben und die
Satzungsregelungen für eintragungsfähig erklärt. Hierbei handelt es
sich um die <b>erste Entscheidung</b>, welche sich mit dem <b>Themenbereich der
"virtuellen Mitgliederversammlung im Verein"</b> befasst hat.
</p>

<p>
Das Gericht schloss sich in seiner Entscheidungsbegründung der sog.
herrschenden Meinung im vereinsrechtlichen Schrifttum an und sah
Parallelen zu anderen gesetzlichen Regelungen (<a
    href="http://dejure.org/gesetze/AktG/118.html">§ 118 AktG</a>
und <a href="http://dejure.org/gesetze/GenG/43.html">§ 43 Abs. 7
    GenG</a>. Hier muss angemerkt werden, dass das Vereinsrecht eine
solche Möglichkeit nicht ausdrücklich vorsieht. Das Gericht verwies
hier auf <a href="http://dejure.org/gesetze/BGB/40.html">§ 40 BGB</a>, 
wonach <i>"in der Satzung eine von § 32 BGB abweichende Regelung
getroffen werden"</i> kann.</p>
<br>
<p><h4>Welche Konsequenzen ergeben sich aus der Entscheidung für die
vereinsrechtliche Praxis?</h4></p>

<p>
Durch die Entscheidung des OLG Hamm dürfte es für Vereine leichter
werden, ihr Registergericht von der Möglichkeit einer
Onlineversammlung zu überzeugen. Bevor jedoch der Verein seine
Mitgliederversammlungen nur noch virtuell durchführen lässt, sollten
folgende Punkte bedacht werden:
</p>

<ul>
<li><b>Die Präsenzveranstaltung als Option</b><br> Das OLG Hamm hat
betont, dass die Satzung sowohl die virtuelle als auch die reale
Mitgliederversammlung vorsah: <i>"Im Einzelfall</i> [kann es]
<i>sinnvoll oder in den Fällen des § 13 Abs. 1 S. 2 UmwG sogar
    notwendig sein, auf eine physische Präsenz bei der Versammlung
    oder Abstimmung zu bestehen. Erforderlich ist lediglich, dass die
    Vereinsmitglieder rechtzeitig über den Modus der Versammlung
    informiert werden, was im vorliegenden Fall mit der Einladung
    erfolgt."</i> </li>

<li><b>Welche Mitgliederstruktur hat der Verein?</b><br> Der Zweck des
Vereins war <i>"die Selbsthilfe und Hilfestellung für Menschen mit
    Alkoholproblemen und deren Angehörigen bundesweit über das Medium
    <b>Internet</b>. Dabei soll der Satzungszweck <b>insbesondere</b>
    über seine <b>Präsenz im Internet</b> verwirklicht werden. Dazu
    bietet der Verein Informationen auf einer dafür eingerichteten
    <b>Internetseite</b> zur Verfügung. Eine <b>Kontaktaufnahme</b> zum Verein kann
    auch <b>über das Internet</b> erfolgen."</i><br>
    Der Schwerpunkt der Tätigkeit
    des Vereins lag im Bereich des Internets.  Zwar betonte das
    Gericht in seiner Entscheidung, dass <i>"ein Verein nicht einem
    beliebigen Personenkreis offen stehen"</i> muss. <i>"Er muss daher auch
    nicht Kommunikation auf jede erdenkliche Weise anbieten"</i>. Das
    Gericht verwies auch darauf, <i>"dass es auch öffentliche
    Internetzugänge gibt, auf die die Vereinsmitglieder zumutbar
    zurückgreifen können"</i>.<br> Wenn die Mitglieder des Vereins jedoch
    nicht „internetaffin“ sind, wird eine virtuelle
    Mitgliederversammlung nicht den erhofften Zuspruch finden.</li>

    <li><b>Zugangsmöglichkeiten zu der Onlineversammlung.</b><br> 
    <ul>
        <li>Satzungsregelung<br> Das OLG Hamm betonte weiter in seiner
        Entscheidung, dass <i>"durch die Zugangsbeschränkungen mittels
        Passwort gewährleistet wird, dass nur Vereinsmitglieder an
        der Versammlung teilnehmen"</i>.  Dies sollte in der
        Satzung berücksichtigt werden.</li>
        <li>„Technische Seite“<br>
        Hier muss sichergestellt sein, dass kein Fremder
        Zugang zu der Onlineversammlung erlangen kann. Weiter muss die Form
        der Abstimmung geregelt werden.  Auch die Rechte des
        Versammlungsleiters, wie die Worterteilung oder die Sicherstellung
        eines geordneten Diskussionsverlaufs, müssen geregelt
        werden.</li>
    </ul>
</li>
<li><b>Vorstandssitzung als Onlineversammlung</b><br>
Für die Beschlussfassung des Vorstandes verweist <a
href="http://dejure.org/gesetze/BGB/28.html">§ 28 BGB</a>
für die Fälle, in denen der Vorstand des Vereins aus mehreren Personen
besteht, auf die für die Beschlüsse der Mitglieder des Vereins
geltenden Vorschriften der <a
    href="http://dejure.org/gesetze/BGB/32.html">§§ 32 </a> und <a
    href="http://dejure.org/gesetze/BGB/34.html">34 BGB</a>. Es sollte
somit auch eine Regelung für eine "virtuelle Vorstandssitzung" in der
Satzung vorgesehen werden. Der Verein hatte dies in dieser Form
vorgesehen:
"Vorstandsversammlungen und Versammlungen der ordentlichen Mitglieder
können ebenfalls online oder in Schriftform erfolgen."
</li>
</ul>

{% endblock %}
