{% load i18n %}

<ul>
    <li>2013-01-09:
    <a href="http://mail.openslides.org/pipermail/users-de/2013-January/000088.html">OpenSlides 1.3.1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-01-09:
    <a href="http://mail.openslides.org/pipermail/users-de/2013-January/000087.html">{% trans 'Bericht vom Entwicklertreffen' %}</a></li>
    <li>2012-12-11:
    <a href="http://mail.openslides.org/pipermail/users-de/2012-December/000083.html">OpenSlides 1.3 {% trans 'veröffentlicht' %}</a></li>
    <li>2012-11-19:
    <a href="{% url 'news-20121119' %}">{% trans 'Die virtuelle Mitgliederversammlung im Verein' %}</a></li>
    <li>2012-10-18:
    <a href="http://mail.openslides.org/pipermail/users-de/2012-October/000065.html">{% trans 'OpenSlides gewinnt innovate!Interaction Award 2012' %}</a></li>
</ul>
