{% load i18n %}

<h2><img class="os-icon" src="/static/img/icons/glyphicons_355_announcement.png">
{% trans 'News' %}</h2>
<ul>
    <li>2014-05-19:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2014-May/000010.html">OpenSlides 1.6b2 {% trans 'veröffentlicht' %}</a></li>
    <li>2014-05-05:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2014-May/000010.html">OpenSlides 1.6b1 {% trans 'veröffentlicht' %}</a></li>
    <li>2014-03-31:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2014-April/000009.html">OpenSlides 1.5.1 {% trans 'veröffentlicht' %}</a></li>
    <li>2014-01-27:<br>
    <a href="http://files.openslides.org/press/articles/20140117_Verbaendereport_1-2014.pdf">{% trans 'OpenSlides-Artikel im Verbändereport 1/2014 erschienen' %}</a>
    (PDF; Quelle: <a href="http://verbaende.com/verbaendereport/">Verbändereport</a>)</li>
</ul>
