{% load i18n %}

<h2><img class="os-icon" src="/static/img/icons/glyphicons_355_announcement.png">
{% trans 'News' %}</h2>
<ul>
    <li>2013-11-25:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-November/000007.html">OpenSlides 1.5 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-11-10:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-November/000006.html">OpenSlides 1.5-b2 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-10-29:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-October/000005.html">OpenSlides 1.5-b1 {% trans 'veröffentlicht' %}</a></li>
</ul>
