{% load i18n %}

<h2><img class="os-icon" src="/static/img/icons/glyphicons_355_announcement.png">
{% trans 'News' %}</h2>
<ul>
    <li>2016-01-27:<br>
    <a href="">OpenSlides 2.0b2 {% trans 'veröffentlicht' %}</a></li>
    <li>2015-12-07:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2015-December/000017.html">OpenSlides 2.0b1 {% trans 'veröffentlicht' %}</a></li>
    <li>2015-06-29:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2015-June/000016.html">OpenSlides 2.0a1 {% trans 'veröffentlicht' %}</a></li>
    <li>2015-02-16:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2015-February/000015.html">OpenSlides 1.7 {% trans 'veröffentlicht' %}</a></li>
    <li>2014-11-25:<br>
    <a href="{% url 'news-20141125' %}">Papierlose Versammlungen sind kein Wunschdenken mehr</a></li>
    <li>2014-10-23:<br>
    <a
href="http://mail.openslides.org/pipermail/users-de/2014-October/000341.html">OpenSlides gewinnt Open Source Business Award 2014</a></li>
</ul>
