{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Papierlose Versammlungen kein Wunschdenken mehr" %}{% endblock %}
{% block headline %}{% trans "News" %}{% endblock %}

{% block submenu_press %}active{% endblock %}


{% block content %}
<p><i><a href="{% url 'press' %}">&laquo; Zurück</a></i></p>

<h2>{% trans 'Papierlose Versammlungen sind kein Wunschdenken mehr' %}</h2>
<p><em>von <a
href="mailto:emanuel@intevation.de">Emanuel Schütze</a> (Hauptautor von
OpenSlides)</em></p>

<div class="intro">
<p class="thumbnail pull-right">
<img src="/static/img/tischvorlage.jpg" width="250px" 
title="Solche Mengen an Tischvorlagen liegen bei papierlosen Versammlungen digital vor.">
</p>
<p>
Wer sich heutzutage angemessen auf eine Mitgliederversammlung
vorbereiten möchte, der kommt nicht an Unmengen Papier vorbei. Neben
Tagesordnung und den obligatorischen Anträgen wühlen sich die
Teilnehmer bereits durch große Papierstapel, bevor es überhaupt
losgeht...
</p>
<p>
Das muss in Zeiten digitaler Medien nicht mehr sein. Eine Versammlung
kann den Papierverbrauch deutlich senken oder sogar ganz auf Papier
verzichten. Wie das geht, wird dieser Artikel am Beispiel einer
fiktiven Mitgliederversammlung darlegen, die mit Hilfe der
webbasierten Versammlungssoftware OpenSlides durchgeführt wird.
</p>
</div>

<p>
Bereits in der Vorbereitungsphase erweist sich OpenSlides als
vorteilhaft. Statt des kostenintensiven Postversands der
Versammlungsunterlagen bekommt jeder Teilnehmer eine E-Mail mit Link
und persönlichen Zugangsdaten zu OpenSlides und somit Zugriff auf alle
notwendigen Unterlagen, wie die vorläufige Tagesordnung, eingereichte
Anträge, zur Wahl stehende Ämter oder weitere organisatorische Infos
zur Anreise, Unterkunft oder Rahmenprogramm. Die Dokumente können
heruntergeladen und - bei Bedarf - zur Vorbereitung selbständig
ausgedruckt werden.
</p>

<h3>Anwesenheitserfassung ohne lange Warteschlangen</h3>
<p>
Papierlos bleibt es auch vor Ort: Der Empfang der Teilnehmer erfolgt
über mehrere PC-Counter. Mitarbeiter aus der Geschäftsstelle begrüßen
die Teilnehmer und haken deren Anwesenheit direkt in der
Teilnehmerdatenbank von OpenSlides ab. Eine Synchronisierung von
mehreren Teilnehmer-Papierlisten entfällt. Nach dem gleichen Prinzip
werden abreisende Teilnehmer am Ausgang wieder auf "abwesend"
geschaltet.
</p>

<p>
Für einen schnellen Wechsel zwischen anwesend und abwesend erhalten
die Teilnehmer ein Namensschild mit Barcode. Am Ein- und Ausgang wird
mittels eines Barcode-Scanners der Anwesenheitsstatus jedes
Teilnehmers sofort im System umgeschaltet. Der Vorteil liegt auf der
Hand: Die Versammlungsleitung hat Zugriff auf die aktuellen Zahlen der
anwesenden Teilnehmer und kann so jederzeit die Beschlussfähigkeit der
Versammlung feststellen.
</p>

<h3>Aufgeräumte Tische dank digitaler Tischvorlagen</h3>
<p>
Für die Teilnehmer im Plenum erweist sich ein anderes Feature von
OpenSlides als sehr vorteilhaft: Alle Tischvorlagen sind digital
verfügbar! Wo vorher Berge von Papier sich auf den Tischen türmten,
gibt es jetzt nur noch Laptops und Tablets der Teilnehmer. Benötigt
wird dafür nur WLAN im Versammlungssaal mit Zugriff auf den
OpenSlides-Server vor Ort. Eine Internetverbindung ist nicht
erforderlich.
</p>

<p>
Auch bei der Versammlungsleitung auf dem Podium geht es papierlos zu.
Redelisten und Protokoll werden während der Versammlung direkt
innerhalb von OpenSlides angefertigt. Eine weitere Person steuert den
Projektor und projiziert den jeweils aktuellen Tagesordnungspunkt an
die Leinwand. Organisatorische Ansagen können mittels individueller
Folien an die Versammlung kommuniziert werden.
</p>

<h3>Anträge elektronisch abwickeln</h3>
<p>
Anträge werden oftmals im Vorfeld der Versammlung eingereicht und
stehen zur Einsicht in OpenSlides für jeden Teilnehmer zur Verfügung.
Initiativanträge dürfen noch während der Versammlung direkt im
Versammlungssystem gestellt werden. 
</p>

<p>
Die Versammlungsleitung ruft einen Antrag auf und projiziert diesen an
die Leinwand. Oftmals passen längere Antragstexte nicht vollständig
auf eine Projektionsfläche, so dass bei Vorlesung des Antrags für alle
sichtbar (zum Mitlesen) mitgescrollt werden kann. Jeder Teilnehmer
kann zusätzlich jeden Antrag noch einmal in Ruhe selbständig in
OpenSlides nachlesen und in der anschließenden Debatte hinterfragen.
Änderungen eines Antrags werden als neue Version gespeichert und
können farblich hervorgehoben werden. Diese digitale Versionshistorie
ersetzt den früher sehr aufwändigen Vergleich zwischen zwei
ausgedruckten Antragsfassungen als Tischvorlage.
</p>

<p>
Die Abstimmung eines Antrags läuft vollständig elektronisch ab: Alle
stimmberechtigten Teilnehmer drücken auf den vorher ausgehändigten,
taschenrechnergroßen Abstimmgeräten die Taste „Ja“, „Nein“ oder
„Enthaltung“. Die Versammlungsleitung sieht die eingehenden Stimmen
und kann Sekunden später das Gesamtergebnis projizieren und verkünden.
Sollte eine namentliche Abstimmung gewünscht sein, kann die
Stimmabgabe der einzelnen Teilnehmer in einer parlamentarischen
Saal-Sitzordnung live präsentiert und nach Abschluss der Abstimmung
transparent zum Nachlesen in OpenSlides veröffentlicht werden.
</p>

<p>
Jeder Antrag lässt sich im Nachgang als PDF exportieren. Dabei kann
sich jeder Teilnehmer individuell entscheiden, ob einzelne Anträge
oder gar ein komplettes Antragsbuch mit allen Anträgen – gruppiert
nach Sachgebieten – für einen späteren Ausdruck benötigt wird.
</p>

<h3>Wahlen effizient nach Belieben durchführen</h3>
<p>
Das ist aber noch nicht alles. Auch beim Thema Wahlen zeigt sich
OpenSlides von seiner besten Seite: Ohne Hektik beginnt die
Kandidatenaufstellung mittels vorher angelegten Projektor-Folien.
Auch ein spontanes Kandidieren ist möglich. Der Name wird dabei direkt
aus der Teilnehmerdatenbank ausgewählt und erscheint einen kurzen
Augenblick später auf der Leinwand.
</p>
 
<p>
Ist der Wahlgang eröffnet, nutzt jeder Stimmberechtigte sein
elektronisches Abstimmgerät und wählt einen Kandidaten per
Tastendruck. Die Ergebnisse werden, wie bei Antragsabstimmungen,
unmittelbar nach Beendigung des Wahlgangs verkündet und für alle
sichtbar am Projektor präsentiert. Sollten Stichwahlen nötig sein,
folgen diese dem gleichen Schema.
</p>

<p>
Mit diesem elektronischen Wahlverfahren entfällt der herkömmliche
Papier-Wahlschein. Wer weiterhin lieber klassisch auf Papier wählen
möchte oder sogar (laut Satzung) muss, dem bietet OpenSlides
personalisierte kleine Wahlscheine mit allen Kandidaten und
entsprechende Ankreuzfeldern als PDF-Dokument an. Alles was man dafür
braucht ist ein Drucker und eine Papierschneidemaschine, um leicht
mehrere Hundert Wahlscheine in wenigen Minuten (i.d.R. während der
Kandidatenvorstellung) herstellen zu können.
</p>

<h3>Digitale Dokumentenablage</h3>
<p>
Auf der Versammlung benötigte Dateien, wie z.B. die Präsentation des
Vorstands, der Bericht des Haushaltsausschuss, der geänderte
Satzungsentwurf oder organisatorische Dokumente, können in OpenSlides
für alle Teilnehmer zum Download abgelegt werden. Ausdrucke sind somit
auch hier nicht mehr nötig.
</p>

<p>
Organisatorische Ansagen (z.B.: Wann geht es weiter? Oder in welchem
Raum findet welcher Workshop statt?) lassen sich zusätzlich auf
eigenen Folien visuell projizieren. Die Tagesordnung und der genaue
Zeitplan kann jederzeit eingesehen werden. Spontane Änderungen sind so
leicht möglich. Ein aktualisierter Ablaufplan muss nicht mehr extra
gedruckt werden. 
</p>

<h3>Protokoll on-the-fly erstellen</h3>
<p>
Noch bevor alle Teilnehmer abreisen kann sich jeder das aktuelle
Beschlussprotokoll herunterladen. Der angepasste Ablauf der
Tagesordnung, alle beschlossenen Anträge und die gewählten Kandidaten
sind auf Knopfdruck in einem Dokument verfügbar. Wenn gewünscht,
können sogar die einzelnen Rednerlisten und das Verlaufsprotokoll des
Protokollanten zu jedem TOP automatisch integriert werden. Mit diesem
vorläufigen(!) Protokoll sind die meisten Teilnehmern schon zufrieden
und haben etwas „in der Hand“ für die Rückreise. Beschlüsse und
Aussagen lassen sich so zeitnah auf Korrektheit prüfen und
beispielsweise auch mit nicht anwesenden Mitglieder teilen. Ein
wochenlanges Warten auf das abgestimmte Protokoll entfällt.
</p>


<h3>Fazit</h3>
<p>
Mitgliederversammlungen komplett papierlos durchführen ist möglich und
gar nicht so utopisch, wie es anfangs klingen mag. Das
Versammlungssystem OpenSlides ist dafür ein ideales Werkzeug, mit dem
sich im ersten Schritt auch gut eine „papierarme“ Versammlung
durchführen lässt; z.B. indem weiter Papier-Wahlscheine verwendet
werden. Verbände, Vereine und Parteien scheuen möglicherweise den
Aufwand zur Einführung von elektronischen Abstimmungen und Wahlen.
Hierbei steht die „Papierlos-Debatte“ sicher nicht an erster Stelle.
</p>

<p>
Ein interessanter Nebeneffekt beim Einsatz von OpenSlides ist auch,
dass nicht anwesende Mitglieder aus der Ferne die Versammlung als Gast
verfolgen könnten und so die Beschlüsse zeitnah mitbekommen. Ein
erster Schritt in Richtung einer virtuellen Mitgliederversammlung.
</p>

<p>
Wer den Schritt wagt, und seine Versammlung vollständig auf digitale
Prozesse umstellt, wird sich als moderne und transparente Organisation
seinen Mitgliedern präsentieren. Und noch dazu Berge an Papier
sparen...
</p>

<br>
<div class="well span6" style="margin-left:0">
<h3>Checkliste für eine papierlose Versammlung</h3>
<p>Mit dem Versammlungssystem OpenSlides lassen sich alle nötigen
demokratischen Prozesse papierlos durchführen:</p>

<ul>
<li>Tagesordnung, Anträge und Wahlämter im Vorfeld für alle Teilnehmer zugänglich
<li>Anwesenheit per Barcode erfassbar
<li>Digitale Ablage für Dokumente
<li>Redeliste und Protokoll digital führen
<li>Anträge digital einreichen und elektronisch abstimmen (namentlich oder anonym)
<li>Kandidaten für Ämter digital aufstellen und elektronisch wählen
<li>Teilnehmerliste digital verfügbar
<li>Protokoll on-the-fly erstellen
</ul>
</div>


{% endblock %}
