{% load i18n %}

<ul>
    <li>2013-11-25:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-November/000007.html">OpenSlides 1.5 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-11-10:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-November/000006.html">OpenSlides 1.5-b2 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-10-29:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-October/000005.html">OpenSlides 1.5-b1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-09-10:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-September/000223.html">OpenSlides 1.4.2 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-07-29:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-July/000003.html">OpenSlides 1.4.1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-07-10:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-July/000001.html">OpenSlides 1.4 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-06-17:<br>
    <a href="http://mail.openslides.org/pipermail/announcement/2013-June/000000.html">OpenSlides 1.4-rc1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-06-04:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-June/000192.html">OpenSlides 1.4-beta2 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-05-16:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-May/000180.html">OpenSlides 1.4-beta1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-04-24:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-April/000157.html">OpenSlides 1.4-alpha1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-03-06:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-March/000124.html">OpenSlides belegt 2. Platz 
    beim IT-Innovationspreis 2013, Kategorie OpenSource</a></li>
    <li>2013-02-19:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-February/000118.html">{% trans 'OpenSlides belegt 2. Platz bei Leserwahl-Aktion' %}</a></li>
    <li>2013-01-24:<br>
    <a href="http://mail.openslides.org/pipermail/users-de/2013-January/000099.html">{% trans 'OpenSlides in der iX 2/2013' %}</a></li>
    <li>2013-01-09:
    <a href="http://mail.openslides.org/pipermail/users-de/2013-January/000088.html">OpenSlides 1.3.1 {% trans 'veröffentlicht' %}</a></li>
    <li>2013-01-09:
    <a href="http://mail.openslides.org/pipermail/users-de/2013-January/000087.html">{% trans 'Bericht vom Entwicklertreffen' %}</a></li>
    <li>2012-12-11:
    <a href="http://mail.openslides.org/pipermail/users-de/2012-December/000083.html">OpenSlides 1.3 {% trans 'veröffentlicht' %}</a></li>
    <li>2012-11-19:
    <a href="{% url 'news-20121119' %}">{% trans 'Die virtuelle Mitgliederversammlung im Verein' %}</a></li>
    <li>2012-10-18:
    <a href="http://mail.openslides.org/pipermail/users-de/2012-October/000065.html">{% trans 'OpenSlides gewinnt innovate!Interaction Award 2012' %}</a></li>
</ul>
