{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Bestellformular" %}{% endblock %}
{% block headline %}{% trans "Bestellformular" %}{% endblock %}

{% block mainmenu_support %}active{% endblock %}

{% block lead %}
Supportpaket 
<strong>OpenSlides
{% if package == '1' %}Starter{% endif %}
{% if package == '2' %}Business{% endif %}
{% if package == '3' %}Premium{% endif %}
</strong>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span7">
        <p>{% trans "Hiermit bestelle ich das Supportpaket" %}
<strong>OpenSlides
{% if package == '1' %}Starter{% endif %}
{% if package == '2' %}Business{% endif %}
{% if package == '3' %}Premium{% endif %}
</strong> {% trans "zu den rechts angegebenen Leistungen und Kosten" %}.</p>

    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Ihre Veranstaltung" %}</legend>
            <input type="hidden" name="package" value="{{package}}">
            {{ form_event.as_p }}
        </fieldset>
    
        <fieldset>
            <legend>{% trans "Ihre Kontaktdaten" %}</legend>
            {{ form_contact.as_p }}
        </fieldset>
        <button class="btn btn-large btn-primary" type="submit">
            {% trans "Kostenpflichtig bestellen" %}</span>
       </button><br>
    </form>
    </div>

    <div class="span5">
    <ul class="pager">
        <li class="next"><a href="{% url support_packages %}">&larr; {% trans "Zurück zur Paketübersicht" %}</a></li>
    </ul>
    <div class="well box">
        <div class="header">  
            <h3>OpenSlides
            {% if package == '1' %}Starter{% endif %}
            {% if package == '2' %}Business{% endif %}
            {% if package == '3' %}Premium{% endif %}
            </h3>
            <p class="price">
            {% if package == '1' %}80,-{% endif %}
            {% if package == '2' %}800,-{% endif %}
            {% if package == '3' %}2500,-{% endif %}
            &euro;
            <small>{% trans 'zzgl. MwSt.' %}</small></p>
        </div>
        <ul class="unstyled">
            <li>{% url license as license_url %}
            {% trans 'Lizenzkostenfreie Nutzung' %}
            <small>{% blocktrans %}OpenSlides ist Freie Software, lizensiert unter 
            der <a href="{{ license_url }}">GNU GPL v2+</a>.{% endblocktrans %}</small></li>
            <li>{% trans 'Qualitätgesicherte Version' %}
                <small>{% blocktrans %}mit Update auf aktuellsten Entwicklungsstand 
                (einmalig){% endblocktrans %}</small></li>
            <li>{% trans 'Portable Version auf USB-Stick' %}
                <small>{% blocktrans %}OpenSlides direkt vom USB-Stick startbar; 
                vorkonfiguriert mit Ihren Veranstaltungsdaten; 
                inkl. Werkzeug zum Datenexport<sup>1</sup> ins CSV-Format{% endblocktrans %}</small></li>
            <li>{% trans 'Individueller Support' %}<sup>2</sup> mit bis zu <strong>
                {% if package == '1' %}0,5{% endif %}
                {% if package == '2' %}5{% endif %}
                {% if package == '3' %}10{% endif %}
                Stunden</strong></li>

            {% if package == '2' or package == '3' %}
                <li>{% trans 'Anpassung des Projektortemplates' %} 
                    <small>{% trans 'nach Vorlage' %}</small>
                    {% if package == '2' %}<br><br>{% endif %}</li>
            {% endif %}

            {% if package == '3' %}
                <li>{% trans 'OpenSlides-Schulung vor Ort' %}
                    <small>1 {% trans 'Tag' %}</small></li>
                <li>{% trans 'Hosting Ihrer OpenSlides-Installation für max 10 Nutzer' %}
                    <small>{% blocktrans %}nur in der Vorbereitungsphase; anschließend Download 
                    der Datenbank für eigene OpenSlides-Installation vor OrtTag{% endblocktrans %}</small>
                    <br><br></li>
            {% endif %}

            {% if package == '2' or package == '3' %}
                <li><span class="label label-important">{% trans 'Optional (auf Anfrage)' %}</span>
                {% trans 'Einsatz eines elektronischen Abstimmungssystems' %}
                    <small>{% blocktrans %}Verleih oder Verkauf von Keypads von der Firma 
                          <a href="http://www.keypaddepot.de/de/Wahlen/Mitglieder-Versammlungen/VoteCollector-App-nur-Plug-In-zu-OpenSlides.html">Voteworks</a>
                          mit Anbindung an OpenSlides{% endblocktrans %}
                    </small></li>

                <li><span class="label label-important">{% trans 'Optional (auf Anfrage)' %}</span>
                {% trans 'Verleih eines Xirrus-WLAN-Arrays' %}
                    <small>{% blocktrans %}bis zu 1000 gleichzeitige Benutzer pro
                       Array; leichte Installation ohne Verkabelung;
                       erprobt mit OpenSlides und elektronischem
                       Abstimmungssystem {% endblocktrans %}
                    </small></li>

                <li><span class="label label-important">{% trans 'Optional (auf Anfrage)' %}</span>
                {% trans 'Namenskarten mit Barcode' %}
                    <small>{% blocktrans %}Für schnelle Anwesenheitserfassung der Teilnehmer; 
                    inkl. Verleih eines Barcodescanners{% endblocktrans %}
                    </small></li>
            {% endif %}
        </ul>

        <br>
        <img class="os-icon" src="/static/img/icons/glyphicons_059_cargo.png">
        <h2>{% trans "Lieferung und Zahlung" %}</h2>
        <p>{% blocktrans %}Nach Bestelleingang wird Ihr persönlicher
        <strong>USB-Stick</strong> mit OpenSlides zusammengestellt und
        gemeinsam mit der <strong>Rechnung</strong> an Sie per Post
        verschickt.{% endblocktrans %}
        {% blocktrans %} Ihre Zahlung wird nach Erhalt der Rechnung
        innerhalb von 14 Tagen gefordert.{% endblocktrans %}</p>
        <p><img class="thumbnail"
        src="/static/img/usb-stick-openslides.jpg"></p>

         <br>
        <img class="os-icon" src="/static/img/icons/glyphicons_352_nameplate.png">
        <h2>{% trans 'Kontakt' %}</h2>

        <p><strong>{% trans 'Haben Sie noch Fragen? Wir beraten Sie gerne.' %}</strong>
        <br>{% trans 'Ihr Ansprechpartner' %}:</p>
        <p><a href="mailto:emanuel.schuetze@intevation.de">Emanuel Schütze</a><br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        <strong>Telefon: ++49-541-335083-746</strong></p>
    </div>
    </div>

    <hr style="clear: both;">
    <small>
    <p>
        <strong>
        {% trans 'Alle Preisangaben gelten zuzüglich der gesetzlich gültigen MwSt.' %}
        | {% trans 'Stand: 27.02.2013' %}
        </strong>
    </p>
    <p>
        {% blocktrans %}<sup>1</sup> Export anhand der sqlite-Datenbank; enthält
        Grunddaten aus Tagesordnung, Anträge, Wahlen und Teillnehmer.
        Weiterverarbeitung möglich.{% endblocktrans %}
        <br>
        {% blocktrans %}<sup>2</sup> Zeitkontingent; Zählung pro angefangene 15-Minuten.
        Supportlaufzeit begrenzt bis Veranstaltungsende. Enthält keinen Vor-Ort-Support.{% endblocktrans %}
    </p>
    </small>
</div>
{% endblock %}
