{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Bestellformular" %}{% endblock %}
{% block headline %}{% trans "Bestellformular" %}{% endblock %}

{% block mainmenu_support %}active{% endblock %}

{% block lead %}
Supportpaket 
<strong>OpenSlides
{% if package == '1' %}Starter{% endif %}
{% if package == '2' %}Business{% endif %}
{% if package == '3' %}Premium{% endif %}
{% if package == '4' %}Premium Plus{% endif %}
</strong>
{% endblock %}

{% block content %}




<div class="row">
    <div class="span7">
        <p>{% trans "Hiermit bestelle ich das Supportpaket" %}
<strong>OpenSlides
{% if package == '1' %}Starter{% endif %}
{% if package == '2' %}Business{% endif %}
{% if package == '3' %}Premium{% endif %}
{% if package == '4' %}Premium Plus{% endif %}
</strong> {% trans "zu den rechts angegebenen Leistungen und Kosten" %}.</p>

    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Ihre Veranstaltung" %}</legend>
            <input type="hidden" name="package" value="{{package}}">
            {{ form_event.as_p }}
        </fieldset>
    
        <fieldset>
            <legend>{% trans "Ihre Kontaktdaten" %}</legend>
            {{ form_contact.as_p }}
        </fieldset>
        <button class="btn btn-large btn-primary" type="submit">
            {% trans "Kostenpflichtig bestellen" %}</span>
       </button><br>
    </form>
    </div>
    <div class="span5">
    <p class="pager" style="text-align: right;"><a href="{% url support_packages %}">&larr; {% trans "Zurück zur Paketübersicht" %}</a></p>
    <div class="well box">
    {% if package == '1' %}
        <div class="header">  
            <h3>OpenSlides Starter</h3>
             <p class="price">399,- &euro;
            <small>{% blocktrans %}zzgl. MwSt.{% endblocktrans %}</small></p>
        </div>
        <ul class="unstyled">
            <li>{% url license as license_url %}
            {% blocktrans %}Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{{ license_url }}">GNU GPL v2+</a>.</small>{% endblocktrans %}</li>
            <li><strong>2h {% trans 'Supportkontingent' %}</strong>
                <small>{% trans 'Supportlaufzeit begrenzt bis Veranstaltungsende' %}</small></li>
            <li>OpenSlides 1.3.1+ <small>{% blocktrans %}inkl. qualitätsgesicherte Updates aus
                      der stabilen Entwicklungsversion{% endblocktrans %}</small></li>
            <li>{% trans 'Werbefrei' %} <small>{% trans 'Kein Verweis auf den professional Support' %}</small></li>
            <li>{% trans 'USB-Stick mit eingraviertem OpenSlides-Logo' %}
            <small>{% trans '"OpenSlides portable" bereits vorinstalliert und direkt vom USB-Stick startbar' %}</small></li>
            <li>{% trans 'Veranstaltungsdaten vorkonfiguriert' %} <small>{% trans 'nach Vorlage' %}</small></li>
            <li>{% trans 'Werkzeug zum Datenexport ins CSV-Format' %}<br><br></li>
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% trans 'Vor-Ort-Service (z.B.: Beratung, Schulung, technische Durchführung)' %}<br>1000,- &euro;/d {% blocktrans %}zzgl. MwSt.{% endblocktrans %}
                </small></li>
        </ul>
    {% endif %}
    {% if package == '2' %}
        <div class="header">  
            <h3>OpenSlides Business</h3>
            <p class="price">1.999,- &euro;
            <small>{% blocktrans %}zzgl. MwSt.{% endblocktrans %}</small></p>
        </div>
        <ul class="unstyled">
            <li>{% url license as license_url %}
            {% blocktrans %}Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{{ license_url }}">GNU GPL v2+</a>.</small>{% endblocktrans %}</li>
            <li><strong>6h {% trans 'Supportkontingent' %}</strong>
                <small>{% trans 'Supportlaufzeit begrenzt bis Veranstaltungsende' %}</small></li>
            <li>OpenSlides 1.3.1+ <small>{% blocktrans %}inkl. qualitätsgesicherte Updates aus
                      der stabilen Entwicklungsversion{% endblocktrans %}</small></li>
            <li>{% trans 'Werbefrei' %} <small>{% trans 'Kein Verweis auf den professional Support' %}</small></li>
            <li>{% trans 'USB-Stick mit eingraviertem OpenSlides-Logo' %}
            <small>{% trans '"OpenSlides portable" bereits vorinstalliert und direkt vom USB-Stick startbar' %}</small></li>
            <li>{% trans 'Veranstaltungsdaten vorkonfiguriert' %} <small>{% trans 'nach Vorlage' %}</small></li>
            <li>{% trans 'Werkzeug zum Datenexport ins CSV-Format' %}</li>
            <li><strong>{% trans 'Namenskarten mit QR-Code' %}</strong>
               <small>{% trans 'Für schnelle Anwesenheitserfassung der Teilnehmer' %}</small></li>
            <li><strong>{% trans 'Anpassung des Projektortemplates' %}</strong> 
             <small>{% trans 'nach Vorlage' %}</small><br></li>

            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% trans 'Vor-Ort-Service (z.B.: Beratung, Schulung, technische Durchführung)' %}
            <small>1000,- &euro;/d {% blocktrans %}zzgl. MwSt.{% endblocktrans %}
                </small></li>
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% blocktrans %}Verleih oder Verkauf eines elektronischen
                Abstimmungssystems mit Anbindung an OpenSlides{% endblocktrans %}
                <br><small>{% trans 'Preis auf Anfrage' %}</small></li>
        </ul>
    {% endif %}

    {% if package == '3' %}
        <div class="header">  
            <h3>OpenSlides Premium</h3>
            <p class="price">5.999,- &euro;
            <small>{% blocktrans %}zzgl. MwSt.{% endblocktrans %}</small></p>
        </div>
        <ul class="unstyled">
            <li>{% url license as license_url %}
            {% blocktrans %}Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{{ license_url }}">GNU GPL v2+</a>.</small>{% endblocktrans %}</li>
            <li><strong>12h {% trans 'Supportkontingent' %}</strong>
                <small>{% trans 'Supportlaufzeit begrenzt bis Veranstaltungsende' %}</small></li>
            <li>OpenSlides 1.3.1+ <small>{% blocktrans %}inkl. qualitätsgesicherte Updates aus
                      der stabilen Entwicklungsversion{% endblocktrans %}</small></li>
            <li>{% trans 'Werbefrei' %} <small>{% trans 'Kein Verweis auf den professional Support' %}</small></li>
            <li>{% trans 'USB-Stick mit eingraviertem OpenSlides-Logo' %}
            <small>{% trans '"OpenSlides portable" bereits vorinstalliert und direkt vom USB-Stick startbar' %}</small></li>
            <li>{% trans 'Veranstaltungsdaten vorkonfiguriert' %} <small>{% trans 'nach Vorlage' %}</small></li>
            <li>{% trans 'Werkzeug zum Datenexport ins CSV-Format' %}</li>
            <li>{% trans 'Namenskarten mit QR-Code' %}
               <small>{% trans 'Für schnelle Anwesenheitserfassung der Teilnehmer' %}</small></li>
            <li>{% trans 'Anpassung des Projektortemplates' %} 
             <small>{% trans 'nach Vorlage' %}</small></li>
             <li><strong>{% trans 'OpenSlides-Schulung vor Ort' %}</strong>
             <small>1 {% trans 'Tag' %}</small></li>
             <li><strong>{% blocktrans %}Unterstützung bei Umstellung auf
             leistungsfähigere Datenbank und Webserver{% endblocktrans %}
             </strong>
             <br><br></li>
                
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% trans 'Vor-Ort-Service (z.B.: Beratung, Schulung, technische Durchführung)' %}
            <small>1000,- &euro;/d {% blocktrans %}zzgl. MwSt.{% endblocktrans %}
                </small></li>
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% blocktrans %}Verleih oder Verkauf eines elektronischen
                Abstimmungssystems mit Anbindung an OpenSlides{% endblocktrans %}
                <br><small>{% trans 'Preis auf Anfrage' %}</small></li>
        </ul>
    {% endif %}
    
    {% if package == '4' %}
        <div class="header">  
            <h3>OpenSlides Premium Plus</h3>
            <p class="price">Preis auf Anfrage</p>
        </div>
        <ul class="unstyled">
           <li>{% url license as license_url %}
            {% blocktrans %}Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{{ license_url }}">GNU GPL v2+</a>.</small>{% endblocktrans %}</li>
            <li><strong>{% trans 'unbegrenztes Supportkontingent' %}</strong>
                <small>{% trans 'Supportlaufzeit' %}: 3 {% trans 'Monate' %}</small></li>
            <li>OpenSlides 1.3.1+ <small>{% blocktrans %}inkl. qualitätsgesicherte Updates aus
                      der stabilen Entwicklungsversion{% endblocktrans %}</small></li>
            <li>{% trans 'Werbefrei' %} <small>{% trans 'Kein Verweis auf den professional Support' %}</small></li>
            <li>{% trans 'USB-Stick mit eingraviertem OpenSlides-Logo' %}
            <small>{% trans '"OpenSlides portable" bereits vorinstalliert und direkt vom USB-Stick startbar' %}</small></li>
            <li>{% trans 'Veranstaltungsdaten vorkonfiguriert' %} <small>{% trans 'nach Vorlage' %}</small></li>
            <li>{% trans 'Werkzeug zum Datenexport ins CSV-Format' %}</li>
            <li>{% trans 'Namenskarten mit QR-Code' %}
               <small>{% trans 'Für schnelle Anwesenheitserfassung der Teilnehmer' %}</small></li>
            <li>{% trans 'Anpassung des Projektortemplates' %} 
             <small>{% trans 'nach Vorlage' %}</small></li>
             <li>{% trans 'OpenSlides-Schulung vor Ort' %}
             <small>1 {% trans 'Tag' %}</small></li>
             <li>{% blocktrans %}Unterstützung bei Umstellung auf
             leistungsfähigere Datenbank und Webserver{% endblocktrans %}
             <br><br></li>
                
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% trans 'Vor-Ort-Service (z.B.: Beratung, Schulung, technische Durchführung)' %}
            <small>1000,- &euro;/d {% blocktrans %}zzgl. MwSt.{% endblocktrans %}
                </small></li>
            <li><span class="label label-important">{% trans 'Optional' %}</span>
            {% blocktrans %}Verleih oder Verkauf eines elektronischen
                Abstimmungssystems mit Anbindung an OpenSlides{% endblocktrans %}
                <br><small>{% trans 'Preis auf Anfrage' %}</small></li>

        </ul>
        {% endif %}
        <br>
        <img class="os-icon" src="/static/img/icons/glyphicons_059_cargo.png">
        <h2>{% trans "Lieferung und Zahlung" %}</h2>
        <p>{% blocktrans %}Nach Bestelleingang wird Ihr persönlicher
        <strong>USB-Stick</strong> mit OpenSlides zusammengestellt und
        gemeinsam mit der <strong>Rechnung</strong> an Sie per Post
        verschickt.{% endblocktrans %}
        {% blocktrans %} Ihre Zahlung wird nach Erhalt der Rechnung
        innerhalb von 14 Tagen gefordert.{% endblocktrans %}</p>
        <p><img class="thumbnail"
        src="/static/img/usb-stick-openslides.jpg"></p>

         <br>
        <img class="os-icon" src="/static/img/icons/glyphicons_352_nameplate.png">
        <h2>{% trans 'Kontakt' %}</h2>

        <p><strong>{% trans 'Haben Sie noch Fragen? Wir beraten Sie gerne.' %}</strong>
        <br>{% trans 'Ihr Ansprechpartner' %}:</p>
        <p><a href="mailto:emanuel.schuetze@intevation.de">Emanuel Schütze</a><br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        <strong>Telefon: ++49-541-335083-746</strong></p>
    </div>
    </div>
</div>
{% endblock %}
