{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Presse" %}{% endblock %}
{% block headline %}{% trans "Presse" %}{% endblock %}

{% block submenu_press %}active{% endblock %}

{% block lead %}{% blocktrans %}Die neue Idee von OpenSlides hat Eindruck hinterlassen. 
Lesen Sie, was die Pressestimmen über OpenSlides berichten.{% endblocktrans %}{% endblock %}

{% block content %}

<div class="row">
<div class="span4">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_072_bookmark.png">
    {% trans 'OpenSlides in der Presse' %}</h2>
    <ul>
    <li><a href="http://www.heise.de/ix/inhalt/2013/02/64/">{% trans "Artikel aus iX 2/2013 zu OpenSlides 1.3.1" %}</a></li>
    <li><a href="http://www.linux-magazin.de/NEWS/Neue-Widgets-fuer-Praesentationssystem-Open-Slides">{% trans 'Linux-Magazin-Meldung zu OpenSlides 1.3' %}</a></li>
    <li><a href="http://www.pro-linux.de/news/1/19232/openslides-13-erschienen.html">{% trans 'Pro-Linux-Meldung zu OpenSlides 1.3' %}</a></li>
    <li><a href="http://www.heise.de/ix/meldung/Open-Source-Versammlungssystem-mit-Plenum-1766253.html">{% trans 'Heise-Meldung zu OpenSlides 1.3' %}</a></li>
    <li><a href="http://www.osnabrueck.ihk24.de/linkableblob/2127140/.3./data/ihk_mag_1112-data.pdf"
        >{% trans 'Artikel im IHK Magazin 11/2012 (Seite 36) zum innovate! Award 2012' %}</a></li>
    <li><a href="http://www.weser-ems-manager.de/artikel?id=5296"
        >{% trans 'Artikel im Weser Ems Manager 9/2012 zum innovate! Award 2012' %}</a></li>
    <li><a href="/static/NOZ_20_10_2012_InnovateAward.pdf"
        >{% trans 'Artikel der Neuen Osnabrücker Zeitung (20.12.2012, Autorin: Claudia Sarrazin) zum innovate! Award 2012' %}</a></li>
    <li><a href="http://www.av-views.de/aktuell/archiv/2012/2012-4/thema1.php"
        >{% trans 'Artikel aus AV-views 2012/4 zu OpenSlides 1.2' %}</a></li>
    <li><a href="http://www.heise.de/ix/inhalt/2012/09/20/"
        >{% trans 'Meldung in iX 9/2012 zu OpenSlides 1.2' %}</a></li>
    <li><a href="http://ikhaya.ubuntuusers.de/2012/08/12/openslides-ein-interview-mit-einem-entwickler/"
        >{% trans 'ubuntuusers: Ein Interview mit einem Entwickler' %}</a></li>
    <li><a
        href="http://www.linux-magazin.de/NEWS/Open-Slides-1.2-mit-Dashboard">{% trans 'Linux-Magazin-Meldung zu OpenSlides 1.2' %}</a></li>
    <li><a href="http://www.heise.de/open/meldung/OpenSlides-1-2-organisiert-Veranstaltungen-1653427.html">{% trans 'Heise-Meldung zu OpenSlides 1.2' %}</a></li>
    <li><a href="http://www.pro-linux.de/news/1/18666/openslides-12-erschienen.html">{% trans 'Pro-Linux-Meldung zu OpenSlides 1.2' %}</a></li>
    <li><a href="http://www.heise.de/download/openslides-3682916.html">{% trans "Artikel aus c't 26/2011 zu OpenSlides 1.1" %}</a></li>
    <li><a href="http://www.av-views.de/aktuell/archiv/2011/2011-5/thema1.php">{% trans 'Artikel aus AV-views 2011/5 zu OpenSlides 1.1' %}</a></li>
    <li><a href="http://www.pro-linux.de/news/1/17504/openslides-10-vorgestellt.html">{% trans 'Pro-Linux-Meldung zu OpenSlides 1.0' %}</a></li>
    </ul>
</div>

<div class="span4">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_029_notes_2.png">
    {% trans 'Pressemitteilungen' %}</h2>
    <ul>
    <li>2012-12-11: 
    <a href="{% url pm-20121211 %}">OpenSlides 1.3 - Neue Dashboard-Widgets und verbesserte Teilnehmerverwaltung</a></li>
    <li>2012-10-22: 
    <a href="{% url pm-20121022 %}">OpenSlides gewinnt innovate!Interaction 
        Award 2012</a></li>
    <li>2012-07-26:
    <a href="{% url pm-20120726 %}">OpenSlides 1.2 - Präsentations- und Versammlungssystem mit
        verbesserter Installation und Projektorsteuerung</a></li>
    <li>2012-04-16:
    <a href="{% url pm-20120416 %}">Intevation veranstaltet
        OpenSlides-Entwicklertreffen</a></li>
    <li>2011-09-15:
    <a href="{% url pm-20110915 %}">{% blocktrans %}OpenSlides 1.0 - Neues
        Präsentationssystem für Veranstaltungen mit Tagesordnungen,
        Anträgen und Wahlen{% endblocktrans %}</a></li>
    </ul>
</div>

<div class="span4">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_061_keynote.png">
    {% trans 'Vorträge' %}</h2>
    <ul>
    <li>2012-09-27: 
    <a href="http://prezi.com/03ww7vfzfcyp/openslides/">"Wie OpenSlides
        Ihre Versammluing unterstützen kann"</a>; Vortrag auf dem
    <a
        href="http://verbaende.com/hintergruende/verbaende-com_infotag.php">verbaende.com-INFOTAG</a> in Berlin, von Emanuel Schütze</li>
    <li>2012-10-17:
    <a href="http://prezi.com/yvxoum6id6d7/openslides-neue-moglichkeiten-fur-versammlungen/">"OpenSlides
        - Neue Möglichkeiten für Versammlungen und Tagungen"</a>;
    Kurzvorstellung für den <a
        href="http://innovate-os.de">innovate!Interaction Award
        2012</a> in Osnabrück, von Emanuel Schütze</li>
    </ul>
</div>
</div>

<br>

<div class="row">
<div class="span4">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_352_nameplate.png">
    {% trans 'Pressekontakt' %}</h2>
    <p><a href="mailto:emanuel.schuetze@intevation.de">Emanuel Schütze</a><br>
    Intevation GmbH<br>
    Neuer Graben 17<br>
    D-49074 Osnabrück<br>
    <strong>Tel: ++49-541-335083-746</strong></p>
</div>
<div class="span4">
    {% include "news.html" %}
</div>
<div class="span4">
    <h2><img class="os-icon" src="/static/img/icons/glyphicons_062_attach.png">
    {% trans 'Logos' %}</h2>
    <p>{% trans 'Das Motiv von OpenSlides stellt ein Overheadprojektor (auch Polylux oder Tageslichtprojektor) dar und symbolisiert damit ein flexibles "Auflegen" und freies "Entwerfen" der Folien.' %}</p>
    <p><a href="https://github.com/OpenSlides/OpenSlides/tree/master/extras/logo">{% trans 'Alle Größen und Varianten des OpenSlides Logos' %} &raquo;</a></p>
    <a class="thumbnail" href="/static/img/openslides-logo_wide75.png" title="OpenSlides Logo">
      <img alt="Logo" src="/static/img/openslides-logo_wide75.png">
    </a>
    <br>
    <a class="thumbnail" href="/static/img/openslides-logo.png" title="OpenSlides Logo">
      <img alt="Logo" src="/static/img/openslides-logo.png">
    </a>
    <br>
</div>
</div>

{% endblock %}
