{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Referenzen" %}{% endblock %}
{% block headline %}{% trans "Referenzen" %}{% endblock %}

{% block submenu_references %}active{% endblock %}

{% block lead %}
{% url 'contactform' as contactform_url %}
{% blocktrans %}Auf zahlreichen Veranstaltungen war OpenSlides bereits erfolgreich im Einsatz.
Hier eine Auswahl an Referenzen. Wir freuen uns, wenn wir Ihre Organisation hier nennen dürften.
<a href="{{ contactform_url }}">Schreiben Sie uns</a>!{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row references">
    <div class="span6">
          <a class="thumbnail span2" href="http://www.piratenpartei.de/" title="Piratenpartei Deutschland">
            <img alt="Piraten" src="/static/img/references/piraten-logo.png">
          </a>
          <p><a href="http://www.piratenpartei.de">Piratenpartei Deutschland</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: 
          Bundesparteitag 12/2011; {% trans 'weitere Einsätze' %}: Bundes-, Landes- und Kreisparteitagen</p>

          <a class="thumbnail span2" href="http://hamburg.gruene.de/" title="BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg">
            <img alt="Grüne HH" src="/static/img/references/gruene-logo.png">
          </a>
          <p><a href="http://hamburg.gruene.de/">BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: 
          Landesparteitag 04/2012</p>
          
          <a class="thumbnail span2" href="https://akdigitalegesellschaft.de/" title="SPD Schleswig-Holstein, Arbeitskreis Digitale Gesellschaft">
            <img alt="SPD" src="/static/img/references/spd-logo.png">
          </a>
          <p><a href="https://akdigitalegesellschaft.de/">SPD Schleswig-Holstein, Arbeitskreis Digitale Gesellschaft</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: 
          Sitzung des Landes-AK "Digitale Gesellschaft" 07/2012</p>

          <a class="thumbnail span2" href="http://www.opennet-initiative.de/" title="Opennet Initiative e.V.">
            <img alt="Opennet Initiative e.V." src="/static/img/references/opennet-logo.png">
          </a>
          <p><a href="http://www.opennet-initiative.de/">Opennet Initiative e.V.</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: Jahresversammlung 2013
          </p>
    </div>
    <div class="span6">
          <a class="thumbnail span2" href="http://bundes-esg.de/" title="Evangelischen StudentInnengemeinde in der Bundesrepublik Deutschland (ESG)">
            <img alt="ESG" src="/static/img/references/esg-logo.png">
          </a>
          <p><a class="reference external" href="http://www.bundes-esg.de">Evangelischen StudentInnengemeinde in der
          Bundesrepublik Deutschland (ESG)</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}:
          Bundesversammlung 09/2011
          <small>{% trans 'Ein erster Prototyp von OpenSlides wurde bereits seit 2005 verwendet.' %}</small></p>

          <a class="thumbnail span2" href="http://www.ekir.de/krefeld/" title="Evangelischer Kirchenkreis Krefeld-Viersen">
            <img alt="Ev. Kirchenkreis Krefeld-Viersen" src="/static/img/references/ev-kirche-krefeld-viersen-logo.png">
          </a>
          <p><a href="http://www.ekir.de/krefeld/">Evangelischer Kirchenkreis Krefeld-Viersen</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: 
          Kreissynode des Evangelischen Kirchenkreises Krefeld-Viersen 06/2012</p>

          <a class="thumbnail span2" href="http://aej-online.de/" title="Arbeitsgemeinschaft der Evangelischen Jugend in Deutschland e. V. (aej)">
            <img alt="aej" src="/static/img/references/aej-logo.png">
          </a>
          <p><a class="reference external" href="http://aej-online.de">Arbeitsgemeinschaft der Evangelischen Jugend in Deutschland e. V. (aej)</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: Mitgliederversammlung 11/2011</p>

          <a class="thumbnail span2" href="http://www.cusanus.net/" title="Studierende Cusanerinnen und Cusaner">
            <img alt="aej" src="/static/img/references/cusaner-logo.png">
          </a>
          <p><a class="reference external" href="http://www.cusanus.net/">Studierende Cusanerinnen und Cusaner</a></p>
          <p class="clearfix">{% trans 'Erstmaliger Einsatz von OpenSlides' %}: 
          Cusanerkonferenz 04/2012; {% trans 'weiterer Einsatz' %}: Vollversammlung 06/2012</p>
    </div>
  </div>
{% endblock %}
