{% extends "base_support.html" %}

{% load i18n %}

{% block title %}{{ block.super }} {% endblock %}
{% block headline %}{% trans 'Support' %}{% endblock %}

{% block submenu_support_overview %}active{% endblock %}

{% block lead %}
{% blocktrans %}Sie benötigen Unterstützung für OpenSlides? Sie haben
die Wahl!{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_059_cargo.png">
        {% trans 'Supportpakete' %}</h2>
        <p>
        {% blocktrans %}Nutzen Sie diese professionellen OpenSlides-Supportpakete 
        für Ihre erfolgreiche Veranstaltung.{% endblocktrans %}
        </p> 
        <p><a class="btn" href="{% url 'support_packages' %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_043_group.png">
        {% trans 'Community' %}</h2>
        <p>
        {% blocktrans %}Hier gibt es Hilfe von der
        Community: Mailingliste, Ticketsystem, Twitter 
        und IRC{% endblocktrans %}</p> 
        <p><a class="btn" href="{% url 'support_community' %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_071_book.png">
        {% trans 'Handbuch' %}</h2>
        <p>
        {% blocktrans %}Sie brauchen Hilfe zu OpenSlides? Werfen Sie
        mal einen Blick in unser Handbuch!{% endblocktrans %}
        </p>
        <p><a class="btn" href="{% url 'support_manual' %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
    <div class="span3">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_194_circle_question_mark.png">
        {% trans 'FAQ' %}</h2>
        <p>
        {% blocktrans %}Hier finden Sie Antworten auf die häufigsten Fragen
        zu OpenSlides!<br><br>{% endblocktrans %}
        </p>
        <p><a class="btn" href="{% url 'support_faq' %}">{% trans 'Mehr' %} &raquo;</a></p>
    </div>
  </div>
    
{% endblock %}
