{% extends "base_support.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Community-Support" %}{% endblock %}
{% block headline %}{% trans "Community-Support" %}{% endblock %}

{% block submenu_support_community %}active{% endblock %}

{% block lead %}
{% blocktrans %}Hier gibt es Hilfe von der OpenSlides-Gemeinschaft{% endblocktrans %}
{% endblock %}

{% block content %}

<br>
<div class="row">
    <div class="span4">
        <div class="well box">
        <img class="os-icon" src="/static/img/icons/glyphicons_399_e-mail.png">
        <h2>{% trans 'Mailinglisten' %}</h2>
        <p>{% blocktrans %}OpenSlides bietet öffentliche Mailinglisten zur Koordination der Entwicklung 
        sowie Diskussion von Tickets, Anwenderfragen und speziellen Anwendungsfällen. 
        Bei Problemen und Fragen zu OpenSlides schreiben Sie an die 
        OpenSlides-Mailingliste in Ihrer Sprache:{% endblocktrans %} 
               
        <p>
        <strong>users-de@openslides.org</strong>
        <small>{% trans 'für Anwender und Entwickler (deutschsprachig)' %}</small>
        <a class="btn btn-primary btn-small" href="http://mail.openslides.org/listinfo/users-de/ ">{% trans 'Abonnieren' %} &raquo;</a>
        <a class="btn btn-small" href="http://mail.openslides.org/pipermail/users-de/ ">{% trans 'Archiv' %} &raquo;</a>
        </p>
        
        <p>
        <strong>users-en@openslides.org</strong>
        <small>{% trans 'für Anwender und Entwickler (englischsprachig)' %}</small>
        <a class="btn btn-primary btn-small" href="http://mail.openslides.org/listinfo/users-en/">{% trans 'Abonnieren' %} &raquo;</a>
        <a class="btn btn-small" href="http://mail.openslides.org/pipermail/users-en/">{% trans 'Archiv' %} &raquo;</a>
        </p>
        
        <small>{% trans 'Hinweis: Bitte abonnieren Sie eine Mailingliste bevor Sie an diese schreiben!' %}</small>
        </div>
    </div>

    <div class="span4">
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_235_pen.png">
        <h2>{% trans 'Probleme und Wünsche berichten' %}</h2>
        <p>
        {% blocktrans %}Probleme und Wünsche zu OpenSlides erfassen
        wir in einzelnen Tickets auf GitHub. Durchsuchen Sie die offenen 
        Issues.{% endblocktrans %}
        </p>
        <p>
        <a class="btn"
            href="https://github.com/OpenSlides/OpenSlides/issues">Alle Tickets &raquo;</a></p>
        </p>
         </div>
    </div>

    <div class="span4">
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_245_chat.png">
        <h2>IRC</h2>
        <p>{% blocktrans %}Für den direkten Kontakt zwischen interessierten OpenSlides-Anwendern 
        und -Entwicklern nutzen Sie IRC (ein textbasierter Chat):{% endblocktrans %}</p>
        
        <h3>{% trans 'Netzwerk' %}: freenode<br>
        {% trans 'Kanal' %}: #openslides</h3>
        <a class="btn btn-small"
            href="http://webchat.freenode.net?channels=openslides&uio=d4s">IRC Web-Chat starten &raquo;</a>
        </div>
        
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_043_group.png">
        <h2>{% trans 'Kernentwickler' %}</h2>
        {% url contactform as contactform_url %}
        <p>{% blocktrans %}Direktkontakt zu den drei Gründern und Kernentwicklern von OpenSlides gibt
        es über das <a href="{{ contactform_url }}">Kontaktformular</a>.{% endblocktrans %}
        </p>
        </div>
    </div>
</div>
{% endblock %}
