{% extends "base_support.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Handbuch" %}{% endblock %}
{% block headline %}{% trans "Handbuch" %}{% endblock %}

{% block submenu_support_manual %}active{% endblock %}

{% block lead %}
{% blocktrans %}Sie brauchen Hilfe zu OpenSlides? Werfen Sie mal einen Blick 
in unser Handbuch!{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">

    <div class="well">
        <h3>{% trans 'Deutschsprachige Dokumentation:' %}</h3>
        <p>
        <a class="jumbotron btn btn-primary btn-large"
        href="http://docs.openslides.org/de/">
        {% trans 'OpenSlides-Handbuch' %} 1.5<br>
        <small>HTML-Ansicht</small></a>
        </p>
        <p>
        <a class="jumbotron btn btn-large"
        href="http://files.openslides.org/docs/1.5.x/OpenSlides-Handbuch-1.5.pdf">
        {% trans 'OpenSlides-Handbuch' %} 1.5<br>
        <small>PDF | 5 MB</small></a>
        </p>
        <p><small>{% blocktrans %}Beachten Sie: Dieses OpenSlides-Handbuch ist noch im Aufbau. Einige Abschnitte sind noch nicht vollständig.{% endblocktrans %}</p>
    </div>

    </div>
  </div>
  <p><br></p>
  <p><br></p>
{% endblock %}
