{% extends "base_support.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Community-Support" %}{% endblock %}
{% block headline %}{% trans "Community-Support" %}{% endblock %}

{% block submenu_support_community %}active{% endblock %}

{% block lead %}
{% blocktrans %}Hier gibt es Hilfe von der OpenSlides-Gemeinschaft{% endblocktrans %}
{% endblock %}

{% block content %}

<br>
<div class="row">
    <div class="span4">
        {% include "contact-mailinglist.html" %}
    </div>
    <div class="span4">
        <div class="well">
        <h2><img class="os-icon" src="/static/img/icons/glyphicons_235_pen.png">
        {% trans 'Issues' %}</h2>
        <p>
        {% blocktrans %}Probleme und Wünsche zu OpenSlides erfassen
        wir in einzelnen Issues auf GitHub. Durchsuchen Sie offene 
        Issues oder berichten Sie ein neues Problem.{% endblocktrans %}
        </p>
        <p>
        <a class="btn btn-small"
            href="https://github.com/OpenSlides/OpenSlides/issues">Alle Tickets &raquo;</a></p>
        </p>
        </div>
        {% include "contact-twitter.html" %}
    </div>
    <div class="span4">
        {% include "contact-irc.html" %}
        {% include "contact-coreteam.html" %}
    </div>
</div>
{% endblock %}
