{% extends "base_support.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "FAQ" %}{% endblock %}
{% block headline %}{% trans "FAQ" %}{% endblock %}

{% block submenu_support_faq %}active{% endblock %}

{% block lead %}
{% blocktrans %}Diese Seite ist noch im Aufbau.{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
    {% url 'contactform' as contactform_url %}
    <p>{% blocktrans %}Helfen Sie uns und 
    <a href="{{ contactform_url }}">schreiben Sie uns</a> Ihre
    wichtigsten Fragen zu OpenSlides! Wir werden dann demnächst hier
    eine hilfreiche Auswahl an FAQs zusammenstellen.
    {% endblocktrans %}
    </p>
    </div>
  </div>
  <p><br></p>
  <p><br></p>
{% endblock %}
