{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'Versandbestätigung' %}{% endblock %}
{% block headline %}{% trans 'Vielen Dank!' %}{% endblock %}

{% block mainmenu_support %}active{% endblock %}
 
{% block lead %}
{% blocktrans %}Vielen Dank für Ihr Interesse an unseren OpenSlides-Supportpaketen!
Ihre Anfrage wird bearbeitet. Sie erhalten in Kürze eine Antwort.{% endblocktrans %}
{% endblock %}

{% block content %}
<p>{% trans 'Sollten Sie noch Fragen haben, melden Sie sich gerne!' %}</p>
{% endblock %}
