<section class="bright section" ng-controller="ScrollCtrl">
  <div class="container">

    <h2>Erfolgreiche Digitalisierung: DGB-Bundeskongress mit OpenSlides</h2>
    <p><i><a ui-sref="press">« <translate>Overview</translate></a></i>

    <p>
    <i>Juni 2018, von <a href="mailto:emanuel@intevation.de">Emanuel Schütze</a>
       (Hauptautor von OpenSlides)</i>

    <div class="lead">
      <p>
      Erstmals wurde auf dem DGB-Bundeskongress 2018 das digitale
      Antrags- und Versammlungssystem OpenSlides eingesetzt. Ein Großteil
      der 400 Delegierten nutzte die Möglichkeit digital und papierlos zu
      arbeiten.
    </div>
    
    <img src="static/img/dgb-bundeskongress2018-mit-openslides-leinwand.jpg"
        width="100%" alt="DGB-Bundeskongress mit OpenSlides-Leinwand">
    <p class="imagedescription">Digital unterstützte Antragsberatung: Die große Leinwand mit
    Redeliste, Antragstext und Antragsblock half allen Teilnehmenden im
    Plenum den Überblick zu behalten.
    <small>Foto: Emanuel Schütze</small>

    <p>

    <p>Für den 21. Bundeskongress des Deutschen Gewerkschaftsbundes (DGB),
    der vom 13.-17.5.2018 im Berliner Estrel Contress Center stattfand,
    konnte sich OpenSlides im Vorfeld als digitales Antrags- und
    Versammlungssystem durchsetzen. Der gesamte Antragsberatungsprozess
    von der Antragseinreichung bis zum Beschluss wurde erstmals
    vollständig digital über OpenSlides abgewickelt.</p>

    <h3>Erfolgsgeschichte DGB</h3>
    <p>
    Bei etwa 30 Gewerkschaftskonferenzen (u.a. bei der DGB-Jugend und
    den DGB-Bezirken) wurde OpenSlides im Vorfeld bereits erfolgreich
    eingesetzt.
    <p>
    Mit den Erfahrungen aus diesen Konferenzen und der stetigen
    Weiterentwicklung und Verbesserung der Software wurde der Einsatz beim
    DGB-Bundeskongress zum vollen Erfolg. Mit insgesamt <b>7 Projektoren</b>
    wurde die imposante <b>30-Meter-Leinwand</b> bespielt und wurde so zu einem
    beeindruckenden „Antrags-Panel“. Zwei weitere Leinwände an den Seiten
    versorgte das Plenum mit Livebildern der aktuellen Redner/innen.
    <p>
    OpenSlides-Entwickler der Intevation GmbH haben als Dienstleister für
    die 5-tägige Veranstaltung einen skalierbaren und ausfallsicheren
    OpenSlides-Server bereitgestellt und überwacht, sowie beratend und
    unterstützend den DGB-Beschäftigten im Vorfeld zur Seite gestanden.
    Die umfangreiche Verwaltung der über <b>80 Anträge, 15 Antragsblöcke, 170
    Tagesordnungspunkte mit Redelisten, 400 Delegierten</b> sowie die
    Projektion gehörte zu den zentralen Aufgaben von OpenSlides.

    <h3>Einsatz auf der Veranstaltung</h3>
    <p>Im Zentrum des OpenSlides-Einsatzes stand die Projektion von
    Inhalten auf der großen Leinwand: Tagesordnung, Redelisten, Anträge,
    Antragsblöcke, Beschlussempfehlungen, Änderungsdarstellungen und
    Abstimmungsergebnisse – alles wurde unterstützend zur Moderation des
    Präsidiums dargestellt.
    <p>
    Für die Diskussionen im Plenum konnten Redebeiträge über eine
    Wortmeldestelle angemeldet werden, die dann in die elektronische
    Redeliste von OpenSlides aufgenommen wurden. Auf der zentralen
    Großbildleinwand sowie auf Vorschaumonitoren für das Präsidium wurde
    stets die aktuelle Redeliste angezeigt. Eine einfache Liste mit großer
    Wirkung: Viele Teilnehmende lobten ausdrücklich diese neue,
    transparente Darstellung über die noch anstehenden Wortbeiträge.
    <p>
    Auch die lebendigste Diskussion über einen Antrag musste am Ende
    abgestimmt werden. Der Beschluss wurde umgehend in OpenSlides
    dokumentiert und war damit für alle sichtbar im System nachlesbar. Bei
    einigen knappen Entscheidungen, wo die Handzeichen nicht eindeutig
    waren, wurde mit Hilfe eines elektronischen Abstimmungssystems
    ausgewertet.
    <p>Bereits während der Veranstaltung wurden die beschlossenen Anträge
    als PDF-Dokumente für die Veröffentlichung auf der DGB-Internetseite
    vorbereitet. Über die zentrale Dokumentenablage in OpenSlides waren
    für die Teilnehmenden stets alle Informationen zur Konferenz
    verfügbar.
    <p>
    Und all dies konnten alle Delegierten jederzeit live auf ihrem Smartphone, Tablet oder Laptop verfolgen.


    <h3>Konferenzvorbereitung – unter die Lupe genommen</h3>
    <p>
    Bereits einige Monate vor dem Kongress starteten die konkreten
    Vorbereitungen. Die Einladungen wurden verschickt. Der DGB nutzt für
    die Erfassung seiner Delegierten eine eigene
    Teilnehmendenverwaltungssoftware mit Online-Anmeldung. Die Datensätze
    konnten unkompliziert über eine REST-Schnittstelle zu OpenSlides
    synchronisiert werden.
    <p>
    Ebenso konnten alle antragsberechtigten Gremien im Vorfeld ihre
    Anträge direkt in OpenSlides einreichen. Eine durchgehende
    Zeilennummerierung versteht sich bei mitunter mehrseitigen Anträgen
    von selbst. Bei der Verwaltung der Anträge unterstützte OpenSlides mit
    einer automatischer Antragsnummerierung sowie der Gruppierung in
    Antragsblöcke und Sachgebiete. Für die Generierung einer
    Antragsbuch-Druckfassung für die weiterhin papieraffinen Delegierten
    kam der PDF-Export zum Einsatz.
    <p>
    Auch die Möglichkeit Empfehlungen und Änderungen von der
    Antragsberatungskommission (ABK) angezeigt zu bekommen, war von großem
    Vorteil für eine reibungslose und transparente Antragsberatung während
    des Kongresses. Mit OpenSlides wurde es endlich möglich, Anträge in
    einer übersichtlichen Änderungsfassung darstellen zu lassen, die von
    allen Delegierten vor dem Kongress eingesehen und während des
    Kongresses dann projiziert werden konnten.

    <h3>Mit OpenSlides auf dem Weg zur digitalen Versammlung</h3>
    <p>OpenSlides setzte Meilensteine und zeigte, wie der Weg zu einer
    digitalen und papierlosen Versammlung aussehen kann. OpenSlides konnte
    bei Delegierten wie Veranstalter/innen auf ganzer Linie überzeugen und
    einen positiven Eindruck hinterlassen.
    <p>
    Und wie heißt es so schön, nach dem Kongress ist vor dem Kongress. Die
    ersten Verbesserungsideen und Wünsche sind schon in Diskussion. Auch
    bei einzelnen Mitgliedsgewerkschaften ist der Funke zur digitalen
    Nutzung übergesprungen...<br><br>
    <div>
    <strong>Weiterführende Links:</strong>
    <ul>
    <li><a href="http://www.dgb.de/themen/++co++7eedf93e-6327-11e8-b4b8-52540088cada"
    target="_blank">Digital, spannend, vielfältig - ein Rückblick vom DGB
    auf den Bundeskongress</a><br>
    <li><a href="https://openslides.org">OpenSlides-Website</a>
    </div>
  </div>

