<section id="legalnotice" class="bright section">
  <div class="container">
    <h1 class="text-center" translate>Legal notice</h1>
    <p translate>Responsible for the content of these pages as representative
    of the OpenSlides initiative:

    <p>Emanuel Schütze<br>
    c/o Intevation GmbH<br>
    Neuer Graben 17<br>
    D-49074 Osnabrück<br>
    <i class="fa fa-envelope"></i> <a href="mailto:emanuel.schuetze@intevation.de">emanuel.schuetze@intevation.de</a><br>
    <i class="fa fa-phone"></i> +49-541-335083-746

    <p class="spacer"><translate>Design:</translate> <a href="http://www.triagonale.de/"> Jörn Bensch / triagonale</a>.
    <p><translate>Development and Editing:</translate> Emanuel Schütze
  </div>
</section>
