<section id="presspage" class="bright section" ng-controller="ScrollCtrl">
  <div class="container">
    <h1 class="text-center" translate>Press</h1>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h3>
          <i class="fa fa-bullhorn"></i>
          <translate>Press releases</translate>
          <img src="static/img/flags/de.png" alt="DE Flag" title="{{ 'Available in German only!' | translate }}" class="">
        </h3>
        <dl>
          <dt>2016-04-18:
          <dd><a href="http://files.openslides.org/press/2.0/PM-OpenSlides-2.0.pdf"><i class="fa fa-file-pdf-o"></i> OpenSlides 2.0 im neuen Erscheinungsbild</a>

          <dt>2015-02-16:
          <dd><a href="http://files.openslides.org/press/1.7.x/PM-OpenSlides-1.7.pdf"><i class="fa fa-file-pdf-o"></i> OpenSlides 1.7 erlaubt Änderungsanträge</a>

          <dt>2014-06-03:
          <dd><a href="http://files.openslides.org/press/1.6.x/PM-OpenSlides-1.6.pdf"><i class="fa fa-file-pdf-o"></i> OpenSlides 1.6: Keine stille Post auf Versammlungen mehr nötig</a>

          <dt>2013-11-26:
          <dd><a href="http://files.openslides.org/press/1.5.x/PM-OpenSlides-1.5.pdf"><i class="fa fa-file-pdf-o"></i> OpenSlides 1.5: Auch in der letzten Reihe wissen was läuft</a>

          <dt>2013-07-10:
          <dd><a href="pm/20130710/">OpenSlides 1.4 mit Rednerliste und verbesserter Antragsverwaltung</a>

          <dt>2012-12-11:
          <dd><a href="pm/20121211/">OpenSlides 1.3: Neue Dashboard-Widgets und verbesserte Teilnehmerverwaltung</a>

          <dt>2012-10-22:
          <dd><a href="pm/20121022/">OpenSlides gewinnt innovate!Interaction Award 2012</a>

          <dt>2012-07-26:
          <dd><a href="pm/20120726/">OpenSlides 1.2: Präsentations- und Versammlungssystem mit verbesserter Installation und Projektorsteuerung</a>

          <dt>2012-04-16:
          <dd><a href="pm/20120416/">Intevation veranstaltet OpenSlides-Entwicklertreffen</a>

          <dt>2011-09-15:
          <dd><a href="pm/20110915/">OpenSlides 1.0 - Neues Präsentationssystem für Veranstaltungen mit Tagesordnungen, Anträgen und Wahlen</a>
        </dl>
      </div>

      <div class="col-sm-6 col-xs-12">
        <h3>
          <i class="fa fa-file-text-o"></i>
          <translate>Articles and Publications</translate>
          <img src="static/img/flags/de.png" alt="DE Flag" title="{{ 'Available in German only!' | translate }}" class="">
        </h3>
        <dl>
          <dt>2014-11-25:
          <dd><a ui-sref="20141125">Papierlose Versammlungen sind kein Wunschdenken mehr</a>

          <dt>2014-01-27:
          <dd><a href="http://files.openslides.org/press/articles/20140117_Verbaendereport_1-2014.pdf" target="_blank">
            <i class="fa fa-file-pdf-o"></i> "Same Procedure as every year?" – Mitgliederversammlungen einmal anders</a>
            (Quelle: Verbändereport 1/2014)

          <dt>2012-11-19:
          <dd><a ui-sref="20121119">Die virtuelle Mitgliederversammlung im Verein</a>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="container">
      <h2 class="whitetext text-center" translate>Awards</h2>
        <div class="row">
          <div class="item col-md-4 col-sm-6 col-xs-12">
            <h3>Open Source Business Award 2014</h3>
            <img src="static/img/OSBAR2014.jpg" class="thumbnail" alt="Open Source Business Award 2014" width="160px">
            <a href="http://mail.openslides.org/pipermail/users-de/2014-October/000341.html">» <translate>more</translate></a>
          </div>
          <div class="item col-md-4 col-sm-6 col-xs-12">
            <h3>innovate!Interaction Award 2012</h3>
            <img src="static/img/innovateInteractionAward2012.jpg" class="thumbnail" alt="innovate!Interaction Award 2012" width="160px">
            <a href="http://mail.openslides.org/pipermail/users-de/2012-October/000065.html">» <translate>more</translate></a>
          </div>
          <div class="item col-md-4 col-sm-6 col-xs-12">
            <h3 translate>More Awards</h3>
            <ul>
              <li>IT-Innovationspreis 2013 (<translate>2nd place</translate>)<br>
                <a href="http://mail.openslides.org/pipermail/users-de/2013-March/000124.html">» <translate>more</translate></a>
              <li><translate>domainFACTORY readers choice for the best Open Source Software</translate> (<translate>2nd place</translate>)<br>
                <a href="http://mail.openslides.org/pipermail/users-de/2013-February/000118.html">» <translate>more</translate></a>
          </div>

        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h3>
          <i class="fa fa-newspaper-o"></i>
          <translate>OpenSlides in the press</translate>
          <img src="static/img/flags/de.png" alt="DE Flag" title="{{ 'Available in German only!' | translate }}" class="">
        </h3>

        <dl>
          <dt>2016-04-15:
          <dd><a href="http://www.heise.de/ct/ausgabe/2016-9-Organisation-von-Versammlungen-OpenSlides-3169778.html">Artikel aus c't 9/2016 zu OpenSlides 2.0</a>
          <dt>2015-02-17:
          <dd><a href="http://www.heise.de/ix/meldung/Neue-Funktionen-fuer-OpenSlides-in-Version-1-7-2550837.html">Heise-Meldung zu OpenSlides 1.7</a>
          <dt>2015-02-17:
          <dd><a href="http://www.pro-linux.de/news/1/22029/openslides-17-unterstuetzt-aenderungsantraege.html">Pro-Linux-Meldung zu OpenSlides 1.7</a>
          <dt>2014-10-24:
          <dd><a href="http://www.pro-linux.de/news/1/21660/neuer-open-source-innovationspreis-osbar-geht-an-openslides.html">Pro-Linux-Meldung zum OSBAR 2014</a>
          <dt>2014-10-24:
          <dd><a href="http://www.linux-magazin.de/NEWS/OSBA-verleiht-Innovationspreis-OSBAR">Linux-Magazin-Meldung zum OSBAR 2014</a>
          <dt>2014-08-29:
          <dd><a href="http://av-views.de/aktuell/archiv/2014/2014-4/thema1.php">Artikel aus AV-views 4/2014 zu OpenSlides 1.6</a>
          <dt>2014-06-03:
          <dd><a href="http://www.linux-magazin.de/NEWS/Open-Slides-1.6-mit-Gruppen-Chat">Linux-Magazin-Meldung zu OpenSlides 1.6</a>
          <dt>2014-06-03:
          <dd><a href="http://www.pro-linux.de/news/1/21148/openslides-16-erschienen.html">Pro-Linux-Meldung zu OpenSlides 1.6</a>
          <dt>2014-06-03:
          <dd><a href="http://www.heise.de/newsticker/meldung/OpenSlides-1-6-organisiert-Versammlungen-2210844.html">Heise-Meldung zu OpenSlides 1.6</a>
          <dt>2014-01-17:
          <dd><a href="http://files.openslides.org/press/articles/20140117_Verbaendereport_1-2014.pdf" target="_blank">
            <i class="fa fa-file-pdf-o"></i> "Same Procedure as every year?" – Mitgliederversammlungen einmal anders</a>
            (Quelle: Verbändereport 1/2014)
          <dt>2013-12-31:
          <dd><a href="http://www.heise.de/ix/inhalt/2014/1/18/">Meldung aus iX 1/2014 zu OpenSlides 1.5</a>
          <dt>2013-11-27:
          <dd><a href="http://www.verbaende-talk.de/?p=2871">Verbände-Talk-Blog: Meldung zu OpenSlides 1.5</a>
          <dt>2013-11-27:
          <dd><a href="http://www.av-views.de/aktuell/news/news.php#1297">AV-views-Meldung zu OpenSlides 1.5</a>
          <dt>2013-11-26:
          <dd><a href="http://www.heise.de/open/meldung/Neue-Funktionen-fuer-die-Veranstaltungs-Software-OpenSlides-2053871.html">Heise-Meldung zu OpenSlides 1.5</a>
          <dt>2013-11-26:
          <dd><a href="http://www.pro-linux.de/news/1/20512/openslides-15-erschienen.html">Pro-Linux-Meldung zu OpenSlides 1.5</a>
          <dt>2013-10-23:
          <dd><a href="http://www.verbaende.com/nachrichten_fuer_verbaende/2013/Groes_Helferlein_Prsentationssystem_fr_Tagesordnungen-_Antrge-_Rednerlisten-_Wahlen.php">verbaende.com: Meldung zu OpenSlides 1.4</a>
          <dt>2013-10-01:
          <dd><a href="http://www.verbaende-talk.de/?p=2801">Verbände-Talk-Blog: Interview mit Emanuel Schütze</a>
          <dt>2013-09-04:
          <dd><a href="http://av-views.de/aktuell/archiv/2013/2013-4/thema2.php">Artikel aus AV-views 2013/4 zu OpenSlides 1.4</a>
          <dt>2013-07-11:
          <dd><a href="http://www.pro-linux.de/news/1/19999/openslides-14-veroeffentlicht.html">Pro-Linux-Meldung zu OpenSlides 1.4</a>
          <dt>2013-07-11:
          <dd><a href="http://www.linux-magazin.de/NEWS/Sieben-Monate-Arbeit-Versammlungsmanager-Open-Slides-bringt-Version-1.4">Linux-Magazin-Meldung zu OpenSlides 1.4</a>
          <dt>2013-07-10:
          <dd><a href="http://www.heise.de/open/meldung/OpenSlides-1-4-Praktische-Funktionen-fuer-Veranstaltungen-1914761.html">Heise-Meldung zu OpenSlides 1.4</a>
          <dt>2013-01-24:
          <dd><a href="http://www.heise.de/ix/inhalt/2013/02/64/">Artikel aus iX 2/2013 zu OpenSlides 1.3.1</a>
          <dt>2012-12-13:
          <dd><a href="http://www.linux-magazin.de/NEWS/Neue-Widgets-fuer-Praesentationssystem-Open-Slides">Linux-Magazin-Meldung zu OpenSlides 1.3</a>
          <dt>2012-12-13:
          <dd><a href="http://www.pro-linux.de/news/1/19232/openslides-13-erschienen.html">Pro-Linux-Meldung zu OpenSlides 1.3</a>
          <dt>2012-12-11:
          <dd><a href="http://www.heise.de/ix/meldung/Open-Source-Versammlungssystem-mit-Plenum-1766253.html">Heise-Meldung zu OpenSlides 1.3</a>
          <dt>2012-11:
          <dd><a href="http://www.osnabrueck.ihk24.de/linkableblob/2127140/.3./data/ihk_mag_1112-data.pdf">Artikel im IHK Magazin 11/2012 (Seite 36) zum innovate! Award 2012</a>
          <dt>2012-11:
          <dd><a href="http://www.weser-ems-manager.de/artikel?id=5296">Artikel im Weser Ems Manager 9/2012 zum innovate! Award 2012</a>
          <dt>2012-10-20:
          <dd><a href="http://files.openslides.org/press/articles/NOZ_20121020_InnovateAward.pdf"><i class="fa fa-file-pdf-o"></i> Artikel der Neuen Osnabrücker Zeitung (20.10.2012, Autorin: Claudia Sarrazin) zum innovate! Award 2012</a>
          <dt>2012-09:
          <dd><a href="http://www.av-views.de/aktuell/archiv/2012/2012-4/thema1.php">Artikel aus AV-views 2012/4 zu OpenSlides 1.2</a>
          <dt>2012-07-26:
          <dd><a href="http://www.heise.de/ix/inhalt/2012/09/20/">Meldung in iX 9/2012 zu OpenSlides 1.2</a>
          <dt>2012-08-20:
          <dd><a href="http://ikhaya.ubuntuusers.de/2012/08/12/openslides-ein-interview-mit-einem-entwickler/">ubuntuusers: Ein Interview mit einem Entwickler</a>
          <dt>2012-07-27:
          <dd><a href="http://www.linux-magazin.de/NEWS/Open-Slides-1.2-mit-Dashboard">Linux-Magazin-Meldung zu OpenSlides 1.2</a>
          <dt>2012-07-26:
          <dd><a href="http://www.heise.de/open/meldung/OpenSlides-1-2-organisiert-Veranstaltungen-1653427.html">Heise-Meldung zu OpenSlides 1.2</a>
          <dt>2012-07-26:
          <dd><a href="http://www.pro-linux.de/news/1/18666/openslides-12-erschienen.html">Pro-Linux-Meldung zu OpenSlides 1.2</a>
          <dt>2011-12:
          <dd><a href="http://www.heise.de/download/openslides-3682916.html">Artikel aus c't 26/2011 zu OpenSlides 1.1</a>
          <dt>2011-12:
          <dd><a href="http://www.av-views.de/aktuell/archiv/2011/2011-5/thema1.php">Artikel aus AV-views 2011/5 zu OpenSlides 1.1</a>
          <dt>2011-09-16:
          <dd><a href="http://www.pro-linux.de/news/1/17504/openslides-10-vorgestellt.html">Pro-Linux-Meldung zu OpenSlides 1.0</a>
        </ul>

      </div>

      <div class="item col-md-4 col-sm-6 col-xs-12">
      </div>

      <div class="item col-md-4 col-sm-6 col-xs-12">
        <h3>
          <i class="fa fa-user"></i>
          <translate>Press contact</translate>
        </h3>
        <a href="mailto:emanuel.schuetze@intevation.de">Emanuel Schütze</a><br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        Tel: +49-541-335083-746
      </div>

    </div><!--//row-->
  </div>
</section>
