<section id="privacypolicy" class="bright section">
  <div class="container">
    <h1 class="text-center" translate>Privacy policy</h1>

    <p>OpenSlides speichert nur so viele personenbezogene Daten wie
    unbedingt n&ouml;tig sind, um Besuchern Informationen und Dienste
    zuverl&auml;ssig und sicher anbieten zu k&ouml;nnen.</p>

    <p>Eine Auswertung der Dienste-Protokolle erfolgt nur von uns
    selbst und auch nur, um m&ouml;gliche Fehler, Einbruchsversuche oder
    technisches Verhalten der Server auf unseren Server zu
    analysieren.</p>

    <p>Eine Weitergabe von Teilen der erhobenen Daten erfolgt
    ausschlie&szlig;lich gem&auml;&szlig; gesetzlicher Verpflichtung z.B.
    an Strafverfolgungs- oder Steuerbeh&ouml;rden.</p>

    <p>Nachfolgend wird genau aufgeschl&uuml;sselt, bei welcher
    Gelegenheit welche Daten wie lange gespeichert sind. Zudem wird
    beschrieben, welche Schritte erforderlich sind um Daten zu
    l&ouml;schen.</p>

    <h3>Cookies</h3>
    <p>Beim Besuch der Website werden keine Cookies gespeichert.</p>

    <h3>Logfiles</h3>
    <p>Wenn Sie unsere Webseite besuchen, werden vom Webserver
    automatisch bestimmte Daten erhoben und in Logdateien gespeichert.
    Dabei handelt es sich um übliche Verbindungsinformationen, in
    etwa:</p>
    <ul>
        <li>IP-Adresse</li>
        <li>angefragte Webseite</li>
        <li>Einstiegswebseite (die Seite, über der Sie unsere Webseite zuerst aufgerufen haben)</li>
        <li>Datum und Uhrzeit der Anfrage</li>
        <li>übertragende Datenmenge</li>
        <li>User-Agent (Browsertyp und -version)</li>
    </ul>
    <p>Es erfolgt keine Kombination dieser Daten mit anderen
    Datenquellen. Wenn eine rechtswidrige Nutzung bekannt wird, werden
    diese Daten ggf. nachträglich überprüft.</p>
    
    <h3>Online-Demo</h3>
    <p>Beim Besuch der <a href="https://demo.openslides.org">OpenSlides-Online-Demo</a>
    wird ein sogenanntes "Session-Cookie" angelegt. Dieses Cookie wird
    ausschließlich dazu verwendet, um auf der Website eingeloggt zu
    bleiben. Ein sogenanntes "Tracking Cookie" wird nicht verwendet.
    Die Demo-Datenbank wird täglich gelöscht und auf einen
    vordefinierten Stand mit Demodaten zurückgesetzt.</p>

    <h3>Löschung von Daten</h3>
    <p>Daten werden nicht automatisch gelöscht. Um Ihre Informationen
    entfernen zu lassen, wenden Sie sich bitte an den Betreiber der
    Website (siehe Impressum).</p>
   </div>
</section>
