{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Download{% endblock %}
{% block headline %}Download{% endblock %}

{% block mainmenu_download %}active{% endblock %}

{% block lead %}{% trans 'Aktuelle Version: OpenSlides 1.3 (veröffentlicht am 10.12.2012)' %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="span4 well">
      <h3>{% trans 'Für Windows' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://files.openslides.org/openslides-1.3-portable.zip">
      {% trans 'Download OpenSlides' %}<br>
      <small>v1.3 | .zip | 10 MB</small></a>
      </p>
      <p>{% blocktrans %}Dies ist eine <strong>portable Version</strong>.
      OpenSlides muss nicht installiert werden. Einfach herunterladen, entpacken und openslides.exe starten!{% endblocktrans %}</p>
    </div>
    <div class="span4 well">
      <h3>{% trans 'Für Linux/MacOS' %}</h3>
      <p>{% trans 'Download und Installation aus dem Python Package Index (PyPI)' %}:</p>
      <p><code>pip install openslides</code></p><br>
      <p>{% trans 'Alternativ kann OpenSlides aus folgendem Quellcode-Paket installiert werden:' %}</p>
      <a class="btn"
      href="http://files.openslides.org/openslides-1.3.tar.gz">
      {% trans 'Download OpenSlides Quellcode' %} <br><small>v1.3 | .tar.gz | 2 MB</small></a>
      </p>
      <p>{% blocktrans %}Details in der <a href="http://files.openslides.org/INSTALL-1.3.txt">Installationsanleitung</a>.{% endblocktrans %}</p>
      </p>
    </div>
  </div>
  <br>
  <p>
  <a class="btn btn-large"
  href="http://files.openslides.org/">
  {% trans 'Ältere Versionen und Prüfsummen' %} &raquo;</a>
  </p>
  <br>

  <h2>{% trans 'Quellcode' %}</h2>
  <p>{% blocktrans %}Der aktuelle Entwicklungstand von OpenSlides kann im öffentlichen
  Quellcode-Repository eingesehen werden.{% endblocktrans %}</p>

  <p>{% trans 'Zum Auschecken des Quellcodes von OpenSlides nutzen Sie:' %}</p>

  <p><code>git clone https://github.com/OpenSlides/OpenSlides.git</code></p>



    </div>
{% endblock %}

{% block sidebar %}
        <div id="sidebar">
            <h3>Sidebar</h3>
            <p>TODO</p>
        </div>
{% endblock %}
