{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Pressemitteilung" %}{% endblock %}
{% block headline %}{% trans "Presse" %}{% endblock %}

{% block submenu_press %}active{% endblock %}


{% block content %}
<p><i><a href="{% url press %}">&laquo; Zurück</a></i></p>

<h3>{% trans 'Pressemitteilung' %}</h3>
<br>
<h4>+++ OpenSlides gewinnt innovate!Interaction Award 2012 +++</h4>
<br>
<p><em>Osnabrück, 22. Oktober 2012</em></p>


<img class="thumbnail span2"
src="/static/img/innovateInteractionAward2012.jpg"
alt="innovate!Interaction Award" align="left" hspace="10" vspace="10">
<p>OpenSlides hat vergangenen Mittwoch den 1. Platz beim innovate!Interaction 
Award 2012 in Osnabrück belegt! Der mit 1.000,- EUR Preisgeld dotierte 
IT-Innovationspreis wurde zum ersten Mal vergeben.</p>

<p>OpenSlides hat vergangenen Mittwoch den 1. Platz beim innovate!Interaction Award 2012 
in Osnabrück belegt! Der mit 1.000,- EUR Preisgeld dotierte IT-Innovationspreis
wurde zum ersten Mal vergeben.</p>

<p>Emanuel Schütze, Mitbegründer von OpenSlides und Mitarbeiter der Intevation GmbH, 
präsentierte das Freie Software Produkt "OpenSlides" vor rund 150 Gästen aus der 
Osnabrücker IT- und Kreativbranche im Osnabrücker Theater. Das Publikum durfte 
anschließend aus drei vorgestellten Projekten über den Sieger des Abends abstimmen. 
OpenSlides konnte hier die Mehrheit der anwesenden Teilnehmer überzeugen.</p>

<p>Emanuel Schütze zeigte sich in seiner Dankesrede sehr erfreut über
die Auszeichnung und bedankte sich vor allem für die Arbeit der
OpenSlides-Gemeinschaft (für die er stellvertretend diesen Preis
annahm) und die Unterstützung der Intevation GmbH bei der Entwicklung
und Verbreitung von OpenSlides. Veranstalter, Jury und viele anwesende
Teilnehmer lobten das Potential und die Innovationskraft von
OpenSlides.</p>

<p>Der Freie Softwaredienstleister Intevation GmbH unterstützt die
Entwicklung von OpenSlides und bietet Beratung und professionelle
Supportpakete für Organisationen an, die OpenSlides auf ihrer
Veranstaltung einsetzen wollen.</p>

<p>OpenSlides ist ein freies, webbasiertes Präsentations- und
Versammlungssystem zur professionellen Darstellung und Steuerung von
Tagesordnung, Anträgen und Wahlen auf Veranstaltungen. OpenSlides ist
Freie Software, lizensiert unter der GNU GPL v2+.</p>

<p>Download und weitere Informationen zu OpenSlides auf der offiziellen Website:
<a href="http://www.openslides.org/">http://www.openslides.org/</a></p>

<p>Informationen zum innovate!Interaction Award auf der offiziellen Website des Veranstalters:
<a href="http://www.innovate-os.de/">http://www.innovate-os.de/</a></p>


<p>Ansprechpartner:</p>

<p>Emanuel Schütze<br>
Intevation GmbH<br>
Neuer Graben 17<br>
49074 Osnabrück<br>
E-Mail: emanuel.schuetze@intevation.de<br>
Telefon: 0541-335083-746</p>

{% endblock %}
